<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<th:block th:include="fragments/ehrms_headerlib.html :: headerlib"></th:block>

<style>
.select2 {
width:100%!important;
}

</style>
</head>
<title>User List</title>

<body sec:authorize="isAuthenticated()"   th:with="isAdmin = ${#authorization.expression('hasAnyRole(''ROLE_SUPERADMIN'')')},currentUser = ${#authentication.getPrincipal().getUsername()}">
	<div class="container-scroller" sec:authorize="isAuthenticated()">
		<nav th:insert="commonsidebar/commonsidebar.html :: commonsidebar"
			aria-label="sidebar fragment"></nav>
		<div class="container-fluid page-body-wrapper">
			<div th:replace="fragments/ehrms_settingspanel.html :: setting_panel"></div>
			<nav th:insert="fragments/ehrms_navbar.html :: navbar"></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title">
							<b><span>Witness List</span></b>
						</h3>

					</div>
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="form-group col-sm">
										<div class="row">

											<button type="button" class="btn btn-primary btn-sm"
												onclick="insertData()"> <span>Add New Witness</span></button>



										</div>
									</div>


									<div class="table-responsive">
										<table id="link-list" class="table table-bordered "  data-ordering="false">
											<caption></caption>
											<thead>
												<tr>
													<th width="5%"><span>Sr. No.</span></th>
													<th class="text-wrap"><span>Department</span></th>
													<th class="text-wrap"><span>Witness Name / Sevarth Id</span></th>
													<th class="text-wrap"><span>Designation</span></th>
													
													<th class="text-wrap"><span>Email / Mobile No.</span></th>
													
													<th class="text-wrap"><span>Office Name / Address</span></th>
												<!-- 	<th class="text-wrap"><span>Date of Birth / Date of Retirement</span></th> -->
													<th class="text-wrap"><span>Division / District</span></th>
													<th class="text-wrap"><span>Gender</span></th>
													<!-- <th class="text-wrap"><span>Active</span></th> -->



													<th class="text-wrap"><span th:text="#{masterData.Action}"></span></th>


												</tr>
											</thead>
											<tbody>
												<tr th:each="desig,iState : ${witList}">
													
													<td class=" text-center" th:text="${{pageIndex + iState.index}}"></td>
													<td class="text-wrap">
														<span th:if="${desig.globalorg ne null}" th:text="${desig.globalorg.globalOrgName}">	
															</span>
													</td>
													<td class="text-wrap" >
														<span th:text="${desig.firstName+' '+desig.middleName+' '+desig.lastName}"></span><br><br>/
														<span th:text="${desig.sevarthId}"></span>
													</td>
													<td class="text-wrap" ><span th:if="${desig.designation ne null}" th:text="${desig.designation.designation_name_en}">
														
													</span></td>
													<td class="text-wrap">
													<input type="hidden" th:value="${desig.id}" th:id="id__${iState.index}__">
													<input type="hidden" th:if="${desig.globalorg ne null}" th:value="${desig.globalorg.id}" th:id="org__${iState.index}__">
													<input type="hidden" th:value="${desig.sevarthId}" th:id="sevid__${iState.index}__">
													<input type="hidden" th:value="${desig.firstName}" th:id="fname__${iState.index}__">
													<input type="hidden" th:value="${desig.middleName}" th:id="mname__${iState.index}__">
													<input type="hidden" th:value="${desig.lastName}" th:id="lname__${iState.index}__">
													<input type="hidden" th:value="${desig.officeName}" th:id="lastoff__${iState.index}__">
													<input type="hidden" th:value="${desig.birthDate}" th:id="dob__${iState.index}__">
													<input type="hidden" th:value="${desig.superannuationDate}" th:id="dos__${iState.index}__">
													<input type="hidden" th:if="${desig.revenueDivision ne null}" th:value="${desig.revenueDivision.id}" th:id="div__${iState.index}__">
													<input type="hidden" th:if="${desig.district ne null}" th:value="${desig.district.id}" th:id="dist__${iState.index}__">
													<input type="hidden" th:if="${desig.servicegroup ne null}" th:value="${desig.servicegroup.id}" th:id="group__${iState.index}__">
													<input type="hidden" th:if="${desig.designation ne null}" th:value="${desig.designation.designation_id}" th:id="desig__${iState.index}__">
													<input type="hidden" th:if="${desig.gender ne null}" th:value="${desig.gender.id}" th:id="gend__${iState.index}__">
													
													<input type="hidden" th:value="${desig.mobino}" th:id="mob__${iState.index}__">
													<input type="hidden" th:value="${desig.email}" th:id="email__${iState.index}__">
													<input type="hidden" th:value="${desig.active}" th:id="active__${iState.index}__">
													<strong>Email : </strong><span 
													th:if="${desig.email ne null}"
														th:text="${desig.email}"></span><br><br>
														<strong>Mob No : </strong><span th:if="${desig.mobino ne null}" th:text="${desig.mobino}"></span>
														</td>
													
													<td ><span th:if="${desig.officeName ne null}" th:text="${desig.officeName}">
														
													</span></td>
													<!-- <td class="text-wrap"><strong>DOB :</strong> <span 
													th:if="${desig.birthDate ne null}"
														th:text="${#temporals.format(desig.birthDate, 'dd-MM-yyyy')}"></span><br><br>
														<strong>DOR :</strong> <span th:if="${desig.superannuationDate ne null}" th:text="${#temporals.format(desig.superannuationDate, 'dd-MM-yyyy')}"></span>
														</td> -->
													<td class="text-wrap"><strong>Division :</strong> <span 
													th:if="${desig.revenueDivision ne null}"
														th:text="${desig.revenueDivision.divisionName}"></span><br><br>
														<strong>District :</strong> <span th:if="${desig.district ne null}" th:text="${desig.district.districtName}"></span>
														</td>	
														
													<td ><span th:if="${desig.gender ne null}" th:text="${desig.gender.genderName}">	
															</span></td>
													<!-- <td >
														<span th:if="${desig.active}">Active</span>
														<span th:unless="${desig.active}">In Active</span>
													</td> -->

													<td>
														<button type="button" th:data-id="${iState.index}" 
															
															class="btn btn-primary btn-sm" 
															onclick="updateData(this.getAttribute('data-id'))" 
															id="preview">
															<span>Update </span>
														</button>																										
													</td>
												</tr>
											</tbody>

										</table>
									</div>
									
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
<div>
			<div class="modal fade" th:id="myModalCompact"
				role="dialog" >
				<div class="modal-dialog modal-xl">
					<div class="modal-content">

						<div class="modal-body">
							<div class="container">

<button type="button" class="close" data-dismiss="modal"
							th:id="myModal2">&times;</button>
							
						
						
							<br><br>
						

								<div th:id="printdataCompact">

									<form id="noticeregisteridmpsc" class="form">
										
										<div class="row"><br></div>
									
										<div class="row">
											<div class="col-md-3 mb-3" style="display: none;">
												<label for="deFileNo"><span>Id : </span></label> <input
													type="hidden" class="form-control" 
													id="subId" >
											</div>
											
											
											<div class="col-md-3 mb-3">
												<label for="typeOfMisconduct">Department</label> <select
													class="form-control" id="orgid" 
													style="width: 240px !important"
													>
													<option value="">Select</option>
													<option th:each="org:${orgList}" th:value="${org.id}"
														th:text="${org.globalOrgName}"></option>
													
												</select>
											
<!--  <datalist id="orgid">
        <option th:each="org:${orgList}" th:value="${org.id}"
														th:text="${org.globalOrgName}"></option>
      
    </datalist>
    <input  autoComplete="on" list="orgid"/>  -->
 
 </div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Sevarth Id </span></label> <input type="text" class="form-control"
													id="sevarthid"
													>
											</div>
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>First Name* </span></label> <input type="text" class="form-control"
													id="firstNameid" required="required"
													>
											</div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Middle Name* </span></label> <input type="text" class="form-control"
													id="middleNameid" required="required"
													>
											</div>
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Last Name* </span></label> <input type="text" class="form-control"
													id="lastNameid" required="required"
													>
											</div>
											
											
											<div class="col-md-3 mb-3">
												<label for="district"><span >Gender</span></label> <select
													class="form-control" 
													id="genid" required="required">
													<option value="">Select</option>
													<option th:each="division:${genList}" 
													        th:value="${division.id}"
														th:text="${division.genderName}"></option>
												</select>
											</div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Mobile No.* </span></label> <input type="number" class="form-control" pattern="[789][0-9]{9}"
												maxlength="10"
													id="mobid" required="required"
													>
											</div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Email* </span></label> <input type="email" class="form-control"
													id="emailid" required="required"
													>
											</div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Office Name / Address* </span></label> <input type="text" class="form-control"
													id="lastofficeid" required="required"
													>
											</div>
											
											<!-- <div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Date of Birth* </span></label> <input type="date" class="form-control"
													id="dobid" required="required"
													>
											</div>
											
											<div class="col-md-3 mb-3">
												<label for="deFileNo"><span>Date of Retirement* </span></label> <input type="date" class="form-control"
													id="retireid" required="required"
													>
											</div> -->
											
											<div class="col-md-3 mb-3">
												<label for="typeOfMisconduct"><span>Service Group</span></label> <select
													class="form-control"  id="servicegroup"
													>
													<option value=""  th:text="#{dropdown.select}">Select</option>
													<option th:each="group:${groupList}" th:value="${group.id}"
														th:text="${group.service_group_name}"></option>
												</select>
											</div>



											<div class="col-md-3 mb-3">
												<label for="typeOfMisconduct"><span >Designation</span></label> <select
													class="form-control"  id="designation"
													>
													<option value=""  th:text="#{dropdown.select}">Select</option>
													
												</select>
											</div>
											
											
											
											<div class="col-md-3 mb-3">
												<label for="division"><span th:text="#{de.casedetails.division}" data-toggle="tooltip"
														></span> *</label> <select
													class="form-control" 
													id="division" required="required">
													<option value="">Select</option>
													<option th:each="division:${divList}" 
													        th:value="${division.id}"
														th:text="${division.divisionName}"></option>
												</select>
											</div>
											
											
											<div class="col-md-3 mb-3">
												<label for="district"><span th:text="#{de.casedetails.district}"></span></label> <select
													class="form-control" 
													id="district" required="required">
													<option value="">Select</option>
													
												</select>
											</div>
											
											

											<div class=" col-sm-3" style="display:none;">

												<label for="chargesheet" style="margin: 10px"><span>Active
														* </span></label> &nbsp;
												<div>
													&nbsp; &nbsp; <input class="radio-inline"
														 type="radio"
														name="chargesheetIssued2" id="chargesheetYes" value="true"
														checked> Yes <input 
														type="radio" name="chargesheetIssued2" id="chargesheetNo"
														value="false"> No
												</div>
											</div>
											
											
											

										</div>
										<br><br>
										<div class="btn-toolbar mr-1" role="toolbar"
												aria-label="Basic example">
												<button type="button" th:value="save" id="saveupdate"
													class="btn btn-primary ">
													Save / Update
												</button>


											</div>
									</form>

								</div>

							</div>

						</div>
					</div>
				</div>

			</div>

		</div>
		</div>
		<div th:replace="fragments/ehrms_footerlib.html :: footerlib"></div>
		<div th:replace="fragments/ehrms_footer.html :: footer"></div>
		
		<script th:inline="javascript">
		
$('#designation').select2(
	{dropdownAutoWidth : true}
		);
		
		
		
/* 		 $('#orgid').select2({
			
		});  */
		
		
		$('#link-list').dataTable({
			"lengthChange": false
			
		});
		
		var selections = $("#servicegroup :selected").val();
		var designationId = null;
		$('#designation').empty();
		if(selections != null && selections != '') {
			var urlx = "/de/departmentalEnquiry/selectdesignationdata/"+selections;
			
			getdata(urlx,function(data) {
				 $('#designation').append('<option value="">select</option>');
				 $.each(data, function(i, d) {
					 if(designationId != null && designationId == d.id) {
						 $('#designation').append('<option value="' + d.id + '" selected>' + d.name + '</option>');
					 } else {
						 $('#designation').append('<option value="' + d.id + '">' + d.name + '</option>');
					 }
		            
		         });		
			});
		} else {
			 $('#designation').append('<option value="">select</option>');
		}
		
		$('#servicegroup').change(function(){
			var selections = $("#servicegroup :selected").val();
			$('#designation').empty();
			if(selections != null && selections != '') {
				var urlx = "/de/departmentalEnquiry/selectdesignationdata/"+selections;
			
				getdata(urlx,function(data) {
					 $('#designation').append('<option value="">select</option>');
					 $.each(data, function(i, d) {
						 if(designationId != null && designationId == d.id) {
							 $('#designation').append('<option value="' + d.id + '" selected>' + d.name + '</option>');
						 } else {
							 $('#designation').append('<option value="' + d.id + '">' + d.name + '</option>');
						 }
			         });		
				});
			} else {
				 $('#designation').append('<option value="">select</option>');
			}
		});
		
		var selections = $("#division :selected").val();
		$('#district').empty();
		$('#district').append('<option value="">Select</option>');
		if(selections != null && selections != '') {
			
			getdata('/de/departmentalEnquiry/getDistrictjson/'+selections, function(data) {
				
				$.each(data, function (i, d) {
					// You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
					
						$('#district').append('<option value="' + d.id + '">' + d.name + '</option>');
					
				});
			});
		}
		$('#division').change(function () {
			var selections = $("#division :selected").val();
			$('#district').empty();
			$('#district').append('<option value="">Select</option>');
			getdata('/de/departmentalEnquiry/getDistrictjson/'+selections, function(data) {
				
				$.each(data, function (i, d) {
					// You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
					
						$('#district').append('<option value="' + d.id + '">' + d.name + '</option>');
					
				});
			});


		});
		$('#noticeregisteridmpsc').validate({});
		
		jQuery.noConflict();
			function insertData() {
				$('#subId').val('');
				$('#orgid').val('');
				$('#sevarthid').val('');
				$('#firstNameid').val('');
				$('#middleNameid').val('');
				$('#lastNameid').val('');
				$('#mobid').val('');
				$('#emailid').val('');
				$('#lastofficeid').val('');
				$('#dobid').val('');
				$('#retireid').val('');
				$('#servicegroup').val('');
				$('#genid').val('');
				$('#designation').val('').trigger('change');
				$('#designation').empty();
				$('#designation').append('<option value="">select</option>');
				$('#division').val('');
				$('#chargesheetYes').prop('checked',true);
				$('#noticeregisteridmpsc')[0].reset();
				$('#myModalCompact').modal();
			}	
			
			function updateData(index) {
				
				$('#subId').val($('#id'+index).val());
				var org = $('#org'+index).val();
				jQuery.noConflict();
				$('#orgid').val(org);
				$('#sevarthid').val($('#sevid'+index).val());
				$('#firstNameid').val($('#fname'+index).val());
				$('#middleNameid').val($('#mname'+index).val());
				$('#lastNameid').val($('#lname'+index).val());
				$('#mobid').val($('#mob'+index).val());
				$('#emailid').val($('#email'+index).val());
				$('#lastofficeid').val($('#lastoff'+index).val());
				$('#dobid').val($('#dob'+index).val());
				$('#genid').val($('#gend'+index).val());
				$('#retireid').val($('#dos'+index).val());
				$('#servicegroup').val($('#group'+index).val());
				$('#designation').val($('#desig'+index).val());
				$('#division').val($('#div'+index).val());
				var selections = $("#division :selected").val();
				$('#district').empty();
				$('#district').append('<option value="">Select</option>');
				var districtId = $('#dist'+index).val();
				var group = $('#group'+index).val();
				var designationId = $('#desig'+index).val();
				if(group != null && group != '') {
					$('#designation').empty();
					if(group != null && group != '') {
						var urlx = "/de/departmentalEnquiry/selectdesignationdata/"+group;
					
						getdata(urlx,function(data) {
							 $('#designation').append('<option value="">select</option>');
							 $.each(data, function(i, d) {
								 if(designationId != null && designationId == d.id) {
									 $('#designation').append('<option value="' + d.id + '" selected>' + d.name + '</option>');
								 } else {
									 $('#designation').append('<option value="' + d.id + '">' + d.name + '</option>');
								 }
					         });		
						});
					} else {
						 $('#designation').append('<option value="">select</option>');
					}
				}
				if(districtId != null && districtId != '') {
					getdata('/de/departmentalEnquiry/getDistrictjson/'+selections, function(data) {
						
						$.each(data, function (i, d) {
							// You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
							if(districtId != null && districtId == d.id) {
								$('#district').append('<option value="' + d.id + '" selected>' + d.name + '</option>');
							} else {
								$('#district').append('<option value="' + d.id + '">' + d.name + '</option>');
							}
							
						});
					});
				}
				
				var active = $('#active'+index).val();
				

				active = JSON.parse(active);
				if(active) {
					$('#chargesheetYes').prop('checked',true);
				} else {
					$('#chargesheetNo').prop('checked',true);
				}
				$('#myModalCompact').modal();
			}
			
			
			
			$('#saveupdate').click(function(){
				var obb = new FormData();
				
				obb.append('id', $('#subId').val());
				obb.append('firstName',$('#firstNameid').val());
				obb.append('middleName',$('#middleNameid').val());
				obb.append('sevarthid',$('#sevarthid').val());
				obb.append('lastName',$('#lastNameid').val());
				obb.append('email',$('#emailid').val());
				obb.append('mobino',$('#mobid').val());
				obb.append('groupid',$('#servicegroup').val());
				obb.append('desigid',$('#designation').val());
				obb.append('officeName',$('#lastofficeid').val());
//				obb.append('birthDate',$('#dobid').val());
//				obb.append('superannuationDate',$('#retireid').val());
				obb.append('genderid',$('#genid').val());
				obb.append('divid',$('#division').val());
				obb.append('distid',$('#district').val());
				obb.append('orgid',$('#orgid').val());
				
				obb.append('active',JSON.parse($('input[name="chargesheetIssued2"]:checked').val()));
				
				swal({
					title: "Do you want to proceed?",
					text: "",
					
					buttons: true,
					dangerMode: true,
					buttons: ["No", "Yes"]
				}).then(function(isConfirm) {
					if (isConfirm) {
						postdata('/de/departmentalEnquiry/updateWitList', obb, function (data) {
							jQuery.noConflict();
							swal(data).then(function(){
							    location.reload();
							});
						});
//						var loading = new Loading();
					}
				});
				
				
			});
			
			
		
		</script>
</body>
</html>