<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/ehrms_headerlib.html :: headerlib">
<title>e-HRMS : Form</title>
</head>

<body sec:authorize="isAuthenticated()"   th:with="isAdmin = ${#authorization.expression('hasAnyRole(''ROLE_SUPERADMIN'')')},currentUser = ${#authentication.getPrincipal().getUsername()}">

	<div th:fragment="FormRr">
		
		<div class="page-header">
			
			<div th:object="${notice}">
			
              <h3 class="page-title" th:if="${!notice.approved}">
              		<b><span th:text="#{Form.Prepare a file about new/amendment RR}">Prepare a file about new/amendment RR</span></b></h3>
			  <h3 class="page-title" th:if="${notice.approved and notice.authority=='DEP'}">
				<b><span th:text="#{Form.FinalizeRR}">Finalize Recruitment Rules</span></b>
				</h3>
				
			</div>
						
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
<!--                   <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
<!--                   <li class="breadcrumb-item active" aria-current="page"> Basic tables </li> -->
                  		
                  		<li class="breadcrumb-item"><a href="#"><span th:text="#{Form.Recruitment Module}"></span></a></li>
						  <li class="breadcrumb-item"><a href="#"><span th:text="#{Form.Framing of Recruitment Rules}"></span></a></li>
						 <li class="breadcrumb-item"><a href="#"><span sec:authorize="hasRole('ROLE_DEPARTMENT')" th:text="#{Form.Prepare a file}">
						  
							<span sec:authorize="hasRole('ROLE_16B')" th:text="#{Form.16B}"></span> 
							<span sec:authorize="hasRole('ROLE_BCCELL')" th:text="#{Form.BC}"></span> 
							<span
							sec:authorize="hasRole('ROLE_AA')" th:text="#{Form.Appointing Authority}"> </span> <span
							sec:authorize="hasRole('ROLE_VAC')" th:text="#{Form.VAC}"></span>
							</span></a></li>
                </ol>
              </nav>
              
            </div>
            
            <div class="row">
				
	              <div class="col-md-8 offset-md-2 grid-margin stretch-card">
	                <div class="card">
	                  <div class="card-body">
	                  
	                  <form th:action="@{/registerRRNotice}" th:object="${notice}"
						onsubmit="return FileTypeValidate()" method="post"
						enctype="multipart/form-data" id="noticeregisterid"
						class="needs-validation" novalidate>
						
						<div class="row">
							<div class="col-sm-6">
							 <div class="form-group">
								<label for="designations"><span th:text=#{Form.Designation}></span></label>
								<!-- 						<select id="depart" name="depart" class="form-control"
									th:field="*{designation}">
									<option th:each="Design : ${designation}" th:value="${Design}"
										th:text="${Design}"></option>
								</select> -->
								<input type="text" class="form-control" th:field="*{designation}"
									readonly="readonly" id="depart" placeholder="12345">
								<p th:if="${#fields.hasErrors('designation')}"
									th:errors="*{designation}" id="designationError">Designation
									Error</p>
	                      	 </div>
	                       </div>
	                      	
	                      <div class="col-sm-6">
	                      	<div class="form-group" id="hidden_div"
								th:if="${notice.id>0}" style="color: red">
								<label for="exampleFormControlInput1"><span
									th:text=#{Form.Fileno}></span></label> <input type="text"
									class="form-control" th:field="*{id}" readonly="readonly"
									id="noticeId" placeholder="12345">
							</div>
						  </div>
						</div>
						
							<div class="row">
							<div class="col-sm-6">
							<div class="form-group">
								<label for="recRules"><span
									th:text="#{SelectDesignation.Select Recruitment Rules}">Select Recruitment Rules</span>:</label> 
								<input type="text" class="form-control" th:field="*{recRules}"
									readonly="readonly" id="depart" >
							</div>
							<!--  <div class="form-group">
								<label for="designations"><span
									th:text="#{SelectDesignation.Select Recruitment Rules}">Select Recruitment Rules</span>:</label> 
								<select id="depart" name="depart" th:field="*{recRules}"
									class="form-control" required>
									<option value="">Select</option>
									<option th:each="rRules : ${rRules}"
										th:value="${rRules.rr_name}" th:text="${rRules.rr_name}"></option>
								</select>
	                        </div>-->
	                        </div>
	                        <div class="col-sm-6">
	                        <div class="form-group">
	                        <label for="designations"> </label>
	                       <!--  <a href="#" class="btn btn-primary">Add New RR </a> --> 
	                        <button type="button" class="btn btn-primary" data-toggle="modal"
									data-target="#myModal3" 
									><span th:text="#{Form.Amendment in RR}"></span>
									<!--  th:if="${notice.authority == 'DEP'}" -->
							</button>
							<!--  <button type="button" class="btn btn-primary" data-toggle="modal"
									data-target="#myModal3" 
									sec:authorize="hasRole('ROLE_DEPARTMENT')"
									><span th:text="#{Form.Amendment in RR}"></span>
							</button> -->
							<input type="hidden" th:field="*{authority}">
							<input type="hidden" th:field="*{recArticle}"> 
	                        </div>
	                        </div>
	                        </div>
							
								<div class="form-group">
									<label for="subject"><span th:text=#{Form.Subject}></span></label> <input
										min="5" max="255" type="text" id="subject" th:field="*{subject}"
										required="required" class="form-control"
										placeholder="Enter Subject">
									<p class="alert alert-danger"
										th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">Subject
										Error</p>
								</div>
				
								<button type="button" class="btn btn-primary" data-toggle="modal"
									data-target="#myModal2"
									th:if="${proposalList != null and !proposalList.isEmpty()}">
									<span th:text="#{Form.History RR}"></span></button>
									<br/><br/>
								<div class="form-group">
									<label><span th:text=#{Form.Editor}></span></label>
									<textarea id="editor" th:field="*{info}"></textarea>
									<p class="alert alert-danger" th:if="${#fields.hasErrors('info')}"
										th:errors="*{info}">Extra vacancy Error</p>
								</div>
								<div class="form-group">
									<label for="file"><span th:text=#{Form.FileUpload}></span></label> <input
										type="file" accept=".pdf" name="FileUpload1"
										class="form-control-file" id="FileUpload1" required="required">
									<p class="alert alert-danger"
									th:if="${fileNameNotFound ne null}" th:text="${fileNameNotFound}">Designation
									Error</p>
										
										<!-- all Errors show here -->
									<!--  <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
										<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
									</div> -->
								</div>
				
								<div class="form-group"
									th:style="${(notice.authority == 'DEP' or notice.authority =='')? 'display:none' : 'display:block'}">
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option1" name="option1"
											class="custom-control-input" value="true" th:field="*{approved}">
										<label class="custom-control-label" for="option1"><span th:text="#{Form.Approved}"></span></label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option2" name="option2"
											class="custom-control-input" value="false" th:field="*{approved}">
										<label class="custom-control-label" for="option2"><span th:text="#{Form.Not Approved}"></span></label>
									</div>
									<!-- <div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option3" name="option3"
											th:if="${notice.authority=='GAD'}"
											class="custom-control-input" value=false th:field="*{approved}">
										<label class="custom-control-label" for="option3"><span th:text="#{Form.Under Preview}"></span></label>
									</div>  -->
								</div>
								
								<div class="form-group" 
									th:style="${((notice.authority == 'DEP' or notice.authority =='') or (notice.authority == 'AA' or notice.authority ==''))? 'display:none' : 'display:block'}">
									<label for="previewmpsc"><span th:text=#{Form.ForMPSC}> : </span></label> 
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option5" name="option5"
											class="custom-control-input" value="true" th:field="*{previewMpsc}">
										<label class="custom-control-label" for="option5"><span th:text="#{Form.NotUnderPreview}"></span></label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option6" name="option6"
											class="custom-control-input" value="false" th:field="*{previewMpsc}">
										<label class="custom-control-label" for="option6"><span th:text="#{Form.Under Preview}"></span></label>
									</div>
									<!-- <div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="option3" name="option3"
											th:if="${notice.authority=='GAD'}"
											class="custom-control-input" value=false th:field="*{approved}">
										<label class="custom-control-label" for="option3"><span th:text="#{Form.Under Preview}"></span></label>
									</div>  -->
								</div>
								
								<div class="form-group" 
									th:if="${notice.finalApproved and notice.id != null and notice.authority=='DEP'}">
									<div class="form-check-inline">
									  <label class="form-check-label">
									    <input type="checkbox" class="form-check-input compulsory" name="" value="true" th:field="*{DepartmentMinister}"  checked><span th:text=#{Form.DepartmentMinister}> </span>
									  </label>
									</div>
									<div class="form-check-inline">
									  <label class="form-check-label">
									    <input type="checkbox" class="form-check-input compulsory" value="true" th:field="*{ApprovedbyChiefMinister}" ><span th:text=#{Form.ApprovedbyChiefMinister}> </span>
									  </label>
									</div>
									<div class="form-check-inline">
									  <label class="form-check-label">
									    <input type="checkbox" class="form-check-input compulsory" value="true" th:field="*{ApprovedbyGovernor}" ><span th:text=#{Form.ApprovedbyGovernor}> </span>
									  </label>
									</div>
								</div>
				
								<div class="btn-toolbar mr-1" role="toolbar"
									aria-label="Basic example">
									<button type="submit" class="btn btn-primary" th:name="action"
										id="save" th:value="save" th:if="${!notice.finalApproved}">
										<span th:text=#{Form.Save}></span>
									</button>
									<button type="button" class="btn btn-primary" name="preview"
										onclick="generate()" data-toggle="modal" data-target="#myModal"
										th:attrappend="disabled=${notice.id==null}?'disabled'">
										<span th:text=#{Form.Preview}></span>
									</button>
									<!-- 			<button type="button" th:href="@{|/pdf/${notice.id}|}" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">A - Cover Page</button> -->
									
									<button type="submit" class="btn btn-primary"
										th:if="${notice.authority=='DEP' && !notice.finalApproved}"
										th:disabled="${notice.id == null}" th:name="action"
										th:value="auditingauthority" id="sendtoaa">
										<span th:text=#{Form.Send}></span>
									</button>
					
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${notice.authority != 'DEP' and notice.authority != 'VAC' and notice.id != null}"
										th:name="action" th:value="sendbackdept" id="backtodept">
										<span th:text="#{Form.SendDept}"></span>
									</button>
									
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${(notice.authority == 'AA') and notice.recArticle=='Article 309' and notice.id != null}"
										th:name="action" th:value="sendtogad" id="sendtogad">
										<span th:text="#{Form.SendGAD}"></span>
									</button>
									
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${(notice.authority == 'AA' or notice.authority == 'VAC') and notice.recArticle=='others' and notice.id != null}"
										th:name="action" th:value="sendtolnjd" id="sendtogad">
										<span th:text="#{Form.SendL&JD}">Send to L&JD</span>
									</button>
									
									<!-- for vac only 
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${notice.authority == 'VAC' and notice.id != null}"
										th:name="action" th:value="sendtobccell" id="sendtobccell">
										<span th:text="#{Form.ForwordBCcell}"></span>
									</button>
				
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${notice.authority == 'AA' and notice.id != null}"
										th:name="action" th:value="sendtobccell">
										<span th:text="#{Form.SendBCcell}"></span>
									</button>  -->
									
									<button type="submit" class="btn btn-primary" id="vacbutton"
										th:if="${notice.authority == 'AA' and notice.id != null}"
										th:name="action" th:value="sendtovac">
										<span th:text="#{Form.SendVac}"></span>
									</button>
									
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${(notice.authority == 'GAD' or notice.authority == 'L&JD') and notice.id != null}"
										th:name="action" th:value="forwordtompsc" id="sendtompsc">
										<span th:text="#{Form.SendMpsc}"></span>
									</button>
									
									<button type="submit" class="btn btn-primary"
										th:disabled="${notice.id == null}"
										th:if="${notice.id != null and notice.authority=='MPSC'}"
										th:name="action" th:value="sendtompsc" id="sendtompsc">
										<span th:text="#{Form.SendFinal}"></span>
									</button> 
									
									<button type="submit" class="btn btn-primary" 
										th:disabled="${notice.id == null}"
										th:if="${notice.finalApproved and notice.id != null and notice.authority=='DEP'}"
										th:name="action" th:value="savetofinal" id="savetofinal">
										<span th:text="#{Form.Save}"></span>
									</button>
									
									<button type="submit" class="btn btn-primary" 
										th:disabled="${notice.id == null}"
										th:if="${notice.finalApproved and notice.id != null and notice.authority=='DEP'}"
										th:name="action" th:value="sendtofinalgad" id="sendtofinalgad">
										<span th:text="#{Form.readytopublished}"></span>
									</button>
										
								</div>
	                      	
	                  </form>
	                  
	                </div>
	              </div>
	            </div>
              
            </div>

		
	<script th:inline="javascript" sec:authorize="hasAnyRole('ROLE_AA')">
		$(document).ready(function(){
			console.log('Current Authority AA');
			var notapproved = $('#option2:checked').val();
			var approved = $('#option1:checked').val();
			if(approved != undefined) {
				$('#backtodept').prop('disabled',true);
				$('#sendtogad').prop('disabled',false);				
				$('#backtodept').hide();
				$('#sendtogad').show();
			} else if(notapproved != undefined) {
				$('#backtodept').prop('disabled',false);
				$('#sendtogad').prop('disabled',true);
				$('#backtodept').show();
				$('#sendtogad').hide();
			}
			$('#option1').change(function(){
				$('#backtodept').prop('disabled',true);
				$('#sendtogad').prop('disabled',false);
				$('#backtodept').hide();
				$('#sendtogad').show();
			});
			$('#option2').change(function(){
				$('#backtodept').prop('disabled',false);
				$('#sendtogad').prop('disabled',true);				
				$('#backtodept').show();
				$('#sendtogad').hide();
			});			
		});
	</script>
	<script th:inline="javascript">
			var noticeObj = /*[[${notice}]]*/;
				function test() {
					noticeObj = /*[[${notice}]]*/;
				}
			
				$(document).ready(function() {
					  $('#vacbutton').prop('disabled', true);
					  $('#vacbutton').hide();
					  $('#extravacancy').change('input', function() {
					    if ($(this).val() != noticeObj.extravacancy) {
					      $('#vacbutton').prop('disabled', false);
						  $('#vacbutton').show();
					      $('#save').prop('disabled',true);
							var notapproved = $('#option2:checked').val();
							var approved = $('#option1:checked').val();
							if(approved != undefined) {
								$('#backtodept').prop('disabled',true);
								$('#sendtogad').prop('disabled',false);				
								$('#backtodept').hide();
								$('#sendtogad').hide();
								$('#vacbutton').show();
							} else if(notapproved != undefined) {
								$('#backtodept').prop('disabled',false);
								$('#sendtogad').prop('disabled',true);
								$('#backtodept').show();
								$('#sendtogad').hide();
								$('#vacbutton').hide();
							}
							$('#option1').change(function(){
								$('#backtodept').prop('disabled',true);
								$('#sendtogad').prop('disabled',false);
								$('#backtodept').hide();
								$('#sendtogad').hide();
								$('#vacbutton').show();
							});
							$('#option2').change(function(){
								$('#backtodept').prop('disabled',false);
								$('#sendtogad').prop('disabled',true);				
								$('#backtodept').show();
								$('#sendtogad').hide();
								$('#vacbutton').hide();
							});								      
					    } else {
					      $('#vacbutton').prop('disabled', true);
					      $('#vacbutton').hide();
							var notapproved = $('#option2:checked').val();
							var approved = $('#option1:checked').val();
							if(approved != undefined) {
								$('#backtodept').prop('disabled',true);
								$('#sendtogad').prop('disabled',false);				
								$('#backtodept').hide();
								$('#sendtogad').show();
								$('#vacbutton').hide();
							} else if(notapproved != undefined) {
								$('#backtodept').prop('disabled',false);
								$('#sendtogad').prop('disabled',true);
								$('#backtodept').show();
								$('#sendtogad').hide();
								$('#vacbutton').hide();
							}
							$('#option1').change(function(){
								$('#backtodept').prop('disabled',true);
								$('#sendtogad').prop('disabled',false);
								$('#backtodept').hide();
								$('#sendtompsc').show();
								$('#vacbutton').hide();
							});
							$('#option2').change(function(){
								$('#backtodept').prop('disabled',false);
								$('#sendtogad').prop('disabled',true);				
								$('#backtodept').show();
								$('#sendtogad').hide();
								$('#vacbutton').hide();
							});			
					    }
					  });
					});
				
			</script>
			<script th:inline="javascript">
				var checkBoxes = $('input.compulsory'),
				    submitButton = $('#sendtofinalgad');
				
				checkBoxes.change(function () {
				    submitButton.attr("disabled", checkBoxes.is(":not(:checked)"));
				    if(checkBoxes.is(":not(:checked)")) {
				        submitButton.addClass('disabledfinalgad');
				    } else {
				        submitButton.removeClass('disabledfinalgad');
				    }       
				});
			</script>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-xl">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body container">
						<form th:object="${notice}" id="noticeregisterid"
							class="needs-validation" novalidate>
							<div class="row">
								<div class="form-group col-sm" id="hidden_div"
									th:if="${notice.id>0}" style="color: red">
									<label for="exampleFormControlInput1"><span
										th:text=#{Form.Fileno}></span> : </label> <b><span
										th:text="${{notice.id}}"></span></b>
								</div>

								<div class="form-group col-sm">
									<label for="designations"><span th:text=#{Form.Designation}></span>:</label>
									<b><span th:text="${{notice.designation}}"></span></b>
								</div>
								
								<!--  <div class="form-group col-sm">
									<label for="expectedvacancy"><span
										th:text=#{Form.expectedvacancy}></span>:</label><b><span
										th:text="${{notice.expectedvacancy}}"></span></b>

								</div>
								<div class="form-group col-sm">
									<label for="reservedvacancy"><span
										th:text=#{Form.reservedvacancy}></span>:</label><b><span
										th:text="${{notice.reservedvacancy}}"></span></b>
								</div>-->

							</div>
							<div class="row">
							<div class="form-group col-sm">
								<label for="designations"><span th:text=#{Form.Subject}></span>:</label>
								<b><span th:text="${{notice.subject}}"></span></b>
							</div>
							</div>
							<!--  <div class="row">
								<div class="form-group col-sm">
									<label for="vacancy"><span th:text=#{Form.vacancy}></span>:</label><b><span
										th:text="${{notice.totalvacancy}}"></span></b>
								</div>

								<div class="form-group col-sm">
									<label for="extravacancy"><span th:text=#{Form.extravacancy}></span>:</label>
									<b><span th:text="${{notice.extravacancy}}"></span></b>
								</div>
							</div> -->

							<!--  <div class="row">
								<div class="form-group col-sm">
									<span th:text="#{Form.Vertical vacancy}"></span>
									<table class="table">
										<th:block>
											<tr>
												<td th:each="cates,iStat : ${reservedcate}"
													th:if="${cates.type=='V'}"><span
													th:text="${cates.CasteCode}"></span>:<b><span
														th:text="${{notice.category[__${iStat.index}__].Vacancy}}"></span></b>
											</tr>
										</th:block>
									</table>
								</div>
								<div class="form-group col-sm"
									th:style="${notice.approved ? 'display:block' : 'display:none'}">
									<span th:text="#{Form.Horizontal Vacancy}"></span>
									<table class="table">
										<th:block>
											<tr>
												<td th:each="cates,iStat : ${reservedcate}"
													th:if="${cates.type=='H'}"><span
													th:text="${cates.CasteCode}"></span>:<b><span
														th:text="${{notice.category[__${iStat.index}__].Vacancy}}"></span></b>
											</tr>
										</th:block>
									</table>
								</div>

							</div> -->
						</form>
						<object id="embedPDF" accept="application/pdf" th:attr="data=${{notice.dataurl}}"
							width="100%" height="500" style="height: 85vh;">No
							Support</object>
						<!-- 	<embed id ="embedPDF" src="" type="application/pdf" frameborder="0" width="100%" height="400px"> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Modal 2 -->
		<div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog modal-xl">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="container">
							<div class="row" th:each="history:${proposalList}">
								<div class="col-sm-5 border border-dark p-3">
									<form>
										<div class="row">
											<div class="form-group col-sm">
												<label><span th:text="#{Form.Editor}"></span></label> <span
													th:utext="${history.info}"></span>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm">
												<label><span th:text="#{Form.Modified By}"></span>:</label> <b><span
													th:text="${history.lastModifiedBy}"></span></b>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm">
												<label><span th:text="#{Form.Modified Date}"></span>:</label> <b><span
													th:text="${#temporals.format(history.lastModifiedDate, 'dd-MMM-yyyy')}"></span></b>
											</div>

										</div>
										<div class="row">
											<div class="form-group col-sm">
												<label><span th:text="#{Form.Modified By IP Address}"></span>:</label> <b><span
													th:text="${history.remoteIp}"></span></b>
											</div>
										</div>
									</form>
								</div>
								<div class=col-sm-7>
									<object id="embedPDFx" accept="application/pdf" width="100%"
										height="500" th:attr="data=${{history.dataurl}}"
										style="height: 85vh;">No Support</object>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal 3 -->
		<div class="modal fade" id="myModal3" role="dialog">
			<div class="modal-dialog modal-xl">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="container">
							
						<h3 class="page-title text-center">
              				<b><span th:text="#{Form.Amendment in RR}">
              				Amendment In RR</span></b>
              			</h3>
							<div class="row">
								<div class="col-sm-6 offset-sm-3 border border-dark p-3">
									<form th:action="@{/saveRRules}" th:object="${rRules}"
									 method="post" 
									id="noticeregisterid"
									class="needs-validation" novalidate>
										<div class="row">
											<div class="form-group col-sm">
												<label><span>RR Name</span></label> 
												<input type="text" class="form-control" name="rr_name" th:value="${rRules.rr_name}" th:field="${rRules.rr_name}"
													 id="depart" placeholder="RR Name" readonly>
												<!--  <p th:if="${#fields.hasErrors('designation')}"
													th:errors="*{designation}" id="designationError">Designation
													Error</p> -->
											</div>
										</div>
										<input type="hidden" th:if="${rRules.id ne null}" class="form-control" th:value="${rRules.id}" th:field="${rRules.id}"
													 id="depart" readonly>
										<div class="row">
											<div class="form-group col-sm"
												>
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" name="rr_article" value="Article 309" th:field="${rRules.rr_article}"
														class="custom-control-input" id="option3">
													<label class="custom-control-label" for="option3"><span th:text="#{Form.Article 309}"></span></label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" name="rr_article" value="others" id="option4" th:field="${rRules.rr_article}"
														class="custom-control-input">
													<label class="custom-control-label" for="option4"><span th:text="#{Form.others}"></span></label>
												</div>
											</div>
										</div>
										
										<table class="table">
											<th:block>
												<tr>
													<td><span
														th:text="#{Form.bypromotion}"></span>: 
														<input type="number" class="form-control" name="rrBypromotion"
														th:field="${rRules.rrBypromotion}"
														required="required" min="0">
													</td>
													<td><span
														th:text="#{Form.byselection}"></span>:
														<input type="number" class="form-control"
														name="rrByselection"
														th:field="${rRules.rrByselection}"
														required="required" min="0"> </td>
												</tr>
												<tr>
													<td><span
														th:text="#{Form.bympsc}"></span>:
														<input type="number" class="form-control"
														name="rrBympsc"
														th:field="${rRules.rrBympsc}"
														required="required" min="0"> </td>
													<td><span
														th:text="#{Form.bydeputation}"></span>:
														<input type="number" class="form-control"
														name="rrByDeputation"
														th:field="${rRules.rrByDeputation}"
														required="required" min="0"> </td>
												</tr>
											</th:block>
										</table>
										
										<div class="row">
											<div class="form-group col-sm">
												<label><span>RR Details</span></label> 
												
												<textarea class="form-control" rows="5" name="rr_details" id="comment" th:value="${rRules.rr_details}" th:field="${rRules.rr_details}"></textarea>
												<!--  <p th:if="${#fields.hasErrors('designation')}"
													th:errors="*{designation}" id="designationError">Designation
													Error</p> -->
											</div>
										</div>
										
										<div class="row">
											<div class="form-group col-sm">
												<label><span> &nbsp;</span></label> 
												<button type="submit" class="btn btn-primary">
													<span>Update</span>
												</button>
											</div>
										</div>
										
									</form>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</body>
</html>