<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block th:include="fragments/ehrms_headerlib.html :: headerlib"></th:block>

<head>
<title>Reports of Finally Decided Cases</title>
<style>
.ui-menu .ui-menu-item-wrapper {
	color: #303030 !important;
	background-color: #fff !important;
}

.ui-menu .ui-menu-item-wrapper:hover {
	color: #303030 !important;
	background-color: rgb(192, 192, 192) !important;
	border: #fff 1px solid !important;
}

.ui-widget-content {
	border: 1px solid #ddd;
	background: rgb(192, 192, 192) !important;
	color: #333 !important;
}

@media print {
  body {
 zoom: 80% !important;
  }	
</style>
</head>

<body sec:authorize="isAuthenticated()"   th:with="isAdmin = ${#authorization.expression('hasAnyRole(''ROLE_SUPERADMIN'')')},currentUser = ${#authentication.getPrincipal().getUsername()}">
	<div class="container-scroller" sec:authorize="isAuthenticated()"  id="viewtop">
		<!--		<nav th:insert="Probation/sidebar3_2_8.html :: ehrms_sidebar3_2_8"  aria-label="sidebar fragment"></nav>-->
		<nav th:insert="commonsidebar/commonsidebar.html :: commonsidebar"
			aria-label="sidebar fragment"></nav>
		<div class="container-fluid page-body-wrapper">
			<div th:replace="fragments/ehrms_settingspanel.html :: setting_panel"></div>
			<nav th:insert="fragments/ehrms_navbar.html :: navbar"
				aria-label="navbar fragment"></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3>
							<strong> <span th:text="#{de.reportsof.finally.decide.labels}">Reports of Finally Decided Cases</span>
							</strong>
						</h3>
						<a href="#gridview" class="btn btn-info btn-sm" style="float: right;"><span th:text="#{de.scroll.down.AllBtn}"></span></a>
					</div>

<button href="javascript:void(0);" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" th:text="#{dashboard.viewgraph}">View Graph</button>
					<br><br>

					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">

							<div class="card">
								<div class="card-body">
									<div class="row">
									<div class="col-md-3 mb-3" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')">
												<label for="typeOfMisconduct"><span th:text="#{de.department.name.labels}"></span></label>
												 <select
													class="form-control" th:field="${globalorg}" id="globalorg">
													<option value=""><span th:text="#{de.all.cases.dept}"></span></option>

													<option th:each="global:${globalList}" th:value="${global.id}"
														th:text="${global.globalOrgName}">
													</option>
												</select>
											</div>
										<!-- <span th:text="${globalorg}"></span> -->
										<table class="table table-bordered dark table-sm">
												<thead>
													<tr>
														<th width="5%" class="text-wrap"></th>
														<th width="5%"><span th:text="#{de.decided.labels}"></span></th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.penaltygiven.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.major.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.minar.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.auittal.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.closeddueto.death.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.closedasasthe.chargedhavebeendrawn.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.closedbyorderofthe.court.labels}"></span></center>
														</th>
														<th class="text-wrap">
															<center class="text-wrap"><span th:text="#{de.successrate.labels}"></span></center>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td style="color: blue; text-align: center;"><a
															class="btn btn-sm" href="javascript:void(0);"
															style="color: blue;"><strong><span th:text="#{de.no.of.cases}"></span></strong></a></td>
														<td class="text-wrap">
														<center>
																
																<a  class="btn btn-primary activex"   th:id="casenodeptwisebtn"  onclick="onclickallCases()"
																	th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=&penalty=&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
																	<span th:text="${casesDecided}">
																</a> </span>
															</center></td>
															
															
															
														<td class="text-wrap">	<center><a  class="btn btn-primary activex"   th:id="casenodeptwisebtnall" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=&penalty=all&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
													
																	<span th:text="${casesPenalty}">
														</a></center> </span></td>
														
														
														
														

														<td class="text-wrap">
															<center>
														<a  class="btn btn-primary activex"   th:id="casenodeptwisebtnmajor" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=&penalty=major&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
															
																	<span th:text="${casesPenaltyMajor}">
														</a> 
														</center>
														</span></td>
													
													
														<td class="text-wrap">
														<center>
														<a  class="btn btn-primary activex"  th:id="casenodeptwisebtn1" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=&penalty=1&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
															
																	<span th:text="${casesPenaltyMinor}">
														</a> </center></span></td>
														
														
														
														
														<td class="text-wrap">
														<center><a  class="btn btn-primary activex"     th:id="casenodeptwisebtn2" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=2&penalty=&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
																
																	<span th:text="${casesAq}">
														</a> </center>
														</span></td>
														
														<td class="text-wrap">
														<center><a  class="btn btn-primary activex" th:id="casenodeptwisebtn3" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=3&penalty=&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
																
																	<span th:text="${casesdeath}">
														</a> </center>
														</span></td>
														
														<td class="text-wrap">
														<center><a  class="btn btn-primary activex"  th:id="casenodeptwisebtn4" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=4&penalty=&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
																
																	<span th:text="${casesdropped}">
														</a> </center>
														</span></td>
														
														<td class="text-wrap">
														<center><a  class="btn btn-primary activex"   th:id="casenodeptwisebtn5" 
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=5&penalty=&globalorg=${globalorg}&sort-field=caseNo&sort-dir=${reverseSortDir}|}">
																
																	<span th:text="${casescourtorder}"></span>
														</a> </center>
														</td>
														
														<td class="text-wrap" rowspan="2">
															<center><h3><span 
															th:if="${casesDecided != 0}"
															th:text="${#numbers.formatDecimal(((casesPenalty + 0.0) / casesDecided) * 100, 1, 2)} + '%'"></span>
															<span th:unless="${casesDecided != 0}">0%</span>
															</h3></center>
														</td>
														
													</tr>
													<tr>
														<td style="color: blue; text-align: center;"><a
															class="btn btn-sm" href="javascript:void(0);"
															style="color: blue;">
															<strong><center><span th:text="#{de.employeedetails.label}"></span></center></strong></a></td>
														<td style="text-align: center;"><span
															th:text="${empDecided}"></span></td>
														<td style="text-align: center;"><span
															th:text="${empPenalty}"></span></td>
														<td style="text-align: center;"><span
															th:text="${empPenaltyMajor}"></span></td>
														<td style="text-align: center;"><span
															th:text="${empPenaltyMinor}"></span></td>
														<td style="text-align: center;"><span
															th:text="${empAq}"></span></td>
														<td style="text-align: center;"><span
															th:text="${empdeath}"></span></td>
															
														<td style="text-align: center;"><span
															th:text="${empdropped}"></span></td>
															
														<td style="text-align: center;"><span
															th:text="${empcourtorder}"></span></td>					
													</tr>
												</tbody>
											</table>

									</div>
									<br> <br> <br>
								
								<div>
										<button class="btn btn-info"  onclick="printDiv('downloadreport')"  id="downloadpdfbtn"
											style="margin-left: 4px;"><span th:text="#{de.decasesinitiated.pdf.download}"></span></button>
							
										
										
										<span>&nbsp;&nbsp;</span>
										<button class="btn btn-info" id="downloadexcelsss"    onclick="downloadexcelfucn()"
											style="margin-left: 4px;"><span th:text="#{de.decasesinitiated.excel.download}"></span></button>
									</div>

									<br>
									<hr>
									<div>
										<a class="btn" style="color: blue;" href="javascript:void(0);"><h4>
												<span><span th:text="#{de.total.cases.lbl}"></span>  </span><span
													th:text="${totalItems}"></span>
											</h4></a> <a class="btn" style="color: blue;float:right;"
											href="javascript:void(0);"><h4>
												<span><span th:text="#{de.totalnoof.employee}"> </span> </span> <span
													th:text="${empCount}"></span>
											</h4></a>
									</div>


									<div class="table-responsive">
										<table class="table table-bordered dark table-sm">
											<thead>
												<tr>
													<th width="5%" class="text-wrap">
													<center><span th:text="#{de.enquiry.caseno}"></span></center></th>
													
													
													<th class="text-wrap" style="width: 90px;">
														<center><span th:text="#{de.enquiry.caseno}"></span></center>
													</th>

													<th class="text-wrap">
														<center><span th:text="#{de.casesdetails.fileSubject}"></span></center>
													</th>
													
														<th class="text-wrap" width="10%">
														<center><span th:text="#{de.dateoffinalorder.label}" ></span></center>
													</th>
													
													
														<th class="text-wrap" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')">
														<center><span th:text="#{de.department.name.labels}"></span></center>
														</a>
													</th>
													
													
													<th class="text-wrap" sec:authorize="hasAnyRole('ROLE_DEPARTMENTADMIN','ROLE_SUPERADMIN')">
											<span th:text="#{de.inbox.subdepartment}">Sub Department</span>
											</th>
													
													

													



													<th class="text-wrap">
														<center><span th:text="#{de.employeedetails.label}"></span></center> 
													</th>
													
													<!-- <th class="text-wrap">
														<center><span th:text="#{de.finalorderdate.label}"></span></center> 
													</th> -->

												
													
													
													<th></th>

												</tr>










											</thead>
											<tbody>
												<tr th:each="article,iStat:${caseDetailsAllRecords}">
													<td th:text="${pageIndex+iStat.index}" class="text-wrap"></td>
													<!-- <td> <span th:text="${iStat.index}"></span></td> -->

													<td class="text-wrap"><a data-toggle="tooltip"
														 th:attr="title=${isAdmin}?'Click for view':'Click for update'"
														th:href="@{| /departmentalEnquiry/fetchcaseDetails/${article.id} |}"><span
															th:text="${article.caseNo}"></span></a></td>


													<td class="text-wrap"><span
														th:text="${article.fileSubject}"></span></td>
														
														
															<td class="text-wrap"><span th:if="${article.finaloutList ne null and article.finaloutList[0].dateOfOrder ne null}"
														th:text="${#temporals.format(article.finaloutList[0].dateOfOrder, 'dd-MM-yyyy')}"
														></span></td>
														
														
														           <td class="text-wrap"  sec:authorize="hasAnyRole('ROLE_SUPERADMIN')">
															<span th:if="article.globalorg ne null"
															th:text="${article.globalorg.globalOrgName}"></span>
															
															</td>
															
															<td sec:authorize="hasAnyRole('ROLE_DEPARTMENTADMIN','ROLE_SUPERADMIN')">
												<span th:if="${article.subDepartment ne null}" th:text="${article.subDepartment.subdepartmentNameEn}"></span>
												</td>												
													
														
														

												

													<td class="text-wrap"  style="vertical-align: top;">
														<table class="table table-sm table-reponsive">
															<caption></caption>
															<thead>
																<tr>
																	<th width="5%"><center><span th:text="#{de.enquiry.srno}"></span></center></th>
																	<th><center><span th:text="#{de.enquiry.name}"></span></center></th>
																	<th><center><span th:text="#{de.empdetails.genders}"></span></center></th>
																	<th><center><span th:text="#{de.empdetails.servicegroup}"></span></center></th>
																	<th><center><span th:text="#{de.empdetails.superannuationdate}"></span></center></th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="emp,iStatein:${article.employeeList}">
																	<td th:text="${iStatein.index+1}"></td>
																	<td class="text-wrap"
																		th:text="${emp.firstName+' '+emp.middleName+' '+emp.lastName}"></td>
																	<td class="text-wrap"><span
																		th:if="${emp.gender ne null}"
																		th:text="${emp.gender.genderName}"></span></td>
																	<td class="text-wrap"><span
																		th:if="${emp.servicegroup ne null}"
																		th:text="${emp.servicegroup.service_group_name}"></span>
																	</td>
																	<td class="text-wrap"><span
																		th:if="${emp.superannuationDate ne null}"
																		th:text="${#temporals.format(emp.superannuationDate, 'dd-MM-yyyy')}"></span>
																	</td>
																</tr>
																
															</tbody>
														</table>
													</td>
														

													<td>
														<button type="button" class="btn btn-primary btn-sm"
															id="preview" data-toggle="modal"
															th:attrappend="data-target='#myModalCompact'+${article.id}">
															<span th:text="#{casedetails.preview.button}"> Preview</span></button>
													</td>
													
												</tr>

											</tbody>
										</table>
									</div>
									<br>
									  <div style="float: right;" id="gridview"><a href="#viewtop"  class="btn btn-info btn-sm"><span th:text="#{de.employeedetails.scrollup}"></span></a>
								</div>
									<div class="row" th:fragment="pagination">
										<div>
											<b style="color: blue"><h4>
													<span><span th:text="#{de.total.cases.lbl}"></span></span>  <span
														th:text="${totalItems}"></span> 
												</h4></b>
										</div>
										<div class="col-md-8">
											<nav aria-label="Pagination">
												
													<ul class="pagination justify-content-center">
														<li class="page-item" th:if="${currentPage > 1}"><a
															class="page-link"
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/1?decision=${decision}&penalty=${penalty}&globalorg=${globalorg}&sort-field=${sortField}&sort-dir=${sortDir}|}"
															th:text="#{pages.first}">First</a> <span
															th:unless="${currentPage > 1}" th:text="#{pages.first}">First</span>
														</li>

														<li class="page-item"><a class="page-link"
															th:if="${currentPage > 1}"
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/${currentPage - 1}?decision=${decision}&penalty=${penalty}&globalorg=${globalorg}&sort-field=${sortField}&sort-dir=${sortDir}|}"
															th:text="#{pages.previous}">Previous</a> <span
															th:unless="${currentPage > 1}"
															th:text="#{pages.previous}">Previous</span></li>

														<li class="page-item"
															th:each="i: ${#numbers.sequence(begin, end)}"
															th:if="${begin<end}"><a
															th:class="${currentPage != i ? 'page-link': 'page-linkhighlight'}"
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/${i}?decision=${decision}&penalty=${penalty}&globalorg=${globalorg}&sort-field=${sortField}&sort-dir=${sortDir}|}"
															th:text="${i}"></a></li>

														<li class="page-item"><a class="page-link"
															th:if="${currentPage < totalPages}"
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/${currentPage + 1}?decision=${decision}&penalty=${penalty}&globalorg=${globalorg}&sort-field=${sortField}&sort-dir=${sortDir}|}"
															th:text="#{pages.next}">Next</a> <span
															th:unless="${currentPage < totalPages}"
															th:text="#{pages.next}">Next</span></li>

														<li class="page-item"><a class="page-link"
															th:if="${currentPage < totalPages}"
															th:href="@{|/departmentalEnquiry/finaloutcomeReportsController/${totalPages}?decision=${decision}&penalty=${penalty}&globalorg=${globalorg}&sort-field=${sortField}&sort-dir=${sortDir}|}"
															th:text="#{pages.last}">Last</a> <span
															th:unless="${currentPage < totalPages}"
															th:text="#{pages.last}">Last</span></li>

													</ul>
											</nav>
										</div>
										<div class="col-md-2"></div>
									</div>
									<!-- ending pagination -->
									<div></div>

								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>


	<th:block
		th:include="DeptInquiryViews/Fragments/completecasedetailspreview.html:: completecasedetailspreview"
		th:each="article,iStat:${caseDetailsAllRecords}">
	</th:block>
	<th:block
		th:include="DeptInquiryViews/Fragments/SinglePageCaseView.html:: singlepagecaseview"
		th:each="article,iStat:${caseDetailsAllRecords}">

	</th:block>
	<!-- Modal print modal -->
	<div class="modal fade" id="myModalprint" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal"   onclick="closeModalForce()">&times;</button>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-body">
							<div id="embeds"></div>
							<object id="embedPDF" accept="application/pdf" width="100%"
								height="500" style="height: 85vh;">
								<span th:text="#{Form.error.nodocumentfound}"></span>
							</object>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="fragments/ehrms_footerlib.html :: footerlib"></div>
	<!-- Modal print modal -->
	<div class="modal fade" id="myModalprint" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-body">
							<div id="embeds"></div>
							<object id="embedPDF" accept="application/pdf" width="100%"
								height="500" style="height: 85vh;">
								<span th:text="#{Form.error.nodocumentfound}"></span>
							</object>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="table-responsive" style="display: none;"
		id="downloadreport">
		<center>
			<h3 style="margin-top: 4px;"> <span th:text="#{de.reportsof.finally.decide.labels}">Reports of Finally Decided Cases</span></h3>
		</center>
		<br>
		<table class="table table-bordered dark table  table2excel"
			id="tableexcelGroupWisedept">
			<thead>
				<tr>
					<th width="5%" class="text-wrap" style="color: black;">
					<center><span th:text="#{de.enquiry.srno}"></span></center></th>
					<th class="text-wrap" style="width: 90px;color: black">
					
						<center><span th:text="#{de.enquiry.caseno}"></span></center>
					</th>

					<th class="text-wrap"style="color: black;">
						<center>	<span th:text="#{de.casesdetails.fileSubject}"></span></center>
					</th>
					
					                      <th class="text-wrap"style="color: black;">
														<center><span th:text="#{de.dateoffinalorder.label}" ></span></center>
													</th>
						
						
						<th class="text-wrap" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')"style="color: black;">
														<center><span th:text="#{de.department.name.labels}"></span></center>
														</a>
													</th>
					
					<th class="text-wrap" sec:authorize="hasAnyRole('ROLE_DEPARTMENTADMIN','ROLE_SUPERADMIN')"style="color: black;">
											<span th:text="#{de.inbox.subdepartment}">Sub Department</span>
											</th>
					
					
					
					<th class="text-wrap"style="color: black;">
							<center><span th:text="#{de.employeedetails.label}"></span></center> 
					</th>
					
					
			
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="article,iStat:${caseDetailsAllRecordsreport}">
					<td th:text="${iStat.index+1}" class="text-wrap"></td>
					<!-- <td> <span th:text="${iStat.index}"></span></td> -->

					<td class="text-wrap"><span th:text="${article.caseNo}"></span></td>


					<td class="text-wrap"><span th:text="${article.fileSubject}"></span></td>
					
					<td class="text-wrap"><span
														th:text="${article.finaloutList[0].dateOfOrder}"></span></td>
					
					                   <td class="text-wrap"   sec:authorize="hasAnyRole('ROLE_SUPERADMIN')"
															style="overflow-wrap: anywhere !important;"><span
															th:if="article.globalorg ne null"
															th:text="${article.globalorg.globalOrgName}"></span></td>
															
															
															<td sec:authorize="hasAnyRole('ROLE_DEPARTMENTADMIN','ROLE_SUPERADMIN')">
												<span th:if="${article.subDepartment ne null}" th:text="${article.subDepartment.subdepartmentNameEn}"></span>
												</td>												
													


					<td class="text-wrap" style="vertical-align: top;">
						<div th:each="emp,iStatein:${article.employeeList}">
							<span th:text="${iStatein.index+1}"></span> <span
								class="text-wrap"
								th:text="${emp.firstName+' '+emp.middleName+' '+emp.lastName}"></span>
						</div>
					</td>
					
				<!-- 	<td></td> -->
			                                               
				</tr>
			</tbody>
		</table>
	</div>
	
	
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="min-width:55%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span th:text="#{Reports of Finally Decided Cases}"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--       	<hr> -->
        <canvas id="myChart" width="200" height="200"></canvas> 
<!--         <hr> -->
<!--         <div th:each="data,iState:${dataList}" th:if="${dataList.size()>1}"> -->
<!--         <canvas th:id="myChart__${iState.index}__" width="200" height="200" ></canvas> -->
<!--         <hr> -->
<!--         </div> -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<script th:inline="javascript">



/* 05/11/2023  for show highlight on clickable of button written by vijay */
 
//  $(document).ready(function(){
// 	 $(casenodeptwisebtn).removeClass("btn btn-primary"); 
// 	 $(casenodeptwisebtn).addClass( "btn btn-primary activex");
// });


/*  writting function of onclick of all cases */

    /*   start */
/*  function onclickallCases() {
	 $(casenodeptwisebtn).addClass( "btn btn-primary");
	}  */
	/*   end */
	

var decision=[[${{decision}}]];
var penalty=[[${{penalty}}]];

if(decision=="" && penalty ==""){
	 $(casenodeptwisebtn).removeClass( "btn btn-primary activex");
	$(casenodeptwisebtn).addClass( "btn btn-primary");
}
	
	

	
// function ColorChangeFunction() {
//		//var dep = [[${{depSelected}}]];
		if(decision !=null){
			var id="#casenodeptwisebtn"+decision;
			$(id).removeClass("btn btn-primary activex"); 
			$(casenodeptwisebtn).removeClass("btn btn-primary"); 
			$(casenodeptwisebtn).addClass( "btn btn-primary activex");
			
			$(id).addClass( "btn btn-primary");
		}
		
		
		if(penalty !=null){
			var id="#casenodeptwisebtn"+penalty;
			$(id).removeClass("btn btn-primary activex"); 
			$(casenodeptwisebtn).removeClass("btn btn-primary"); 
			$(casenodeptwisebtn).addClass( "btn btn-primary activex");
			$(id).addClass( "btn btn-primary");
		}
		
		
		
//}

		/* 06/11/2023  for show highlight on clickable of button written by vijay */
// 		var penalty=[[${{penalty}}]];
// 				if( penalty !=null){
// 					var id="#casepenaltywisebutton"+penalty;
// 					$(id).removeClass("btn btn-primary activex"); 
// 					$(casenodeptwisebtn).removeClass("btn btn-primary"); 
// 					$(id).addClass( "btn btn-primary");
// 				}
		







$(document).ready(function(){
	
	var casesDecided = [[${casesDecided}]];	
	var casesPenalty = [[${casesPenalty}]];	
	var casesPenaltyMajor = [[${casesPenaltyMajor}]];	
	var casesPenaltyMinor = [[${casesPenaltyMinor}]];	
	var casesAq = [[${casesAq}]];	
	var casesdeath = [[${casesdeath}]];	
	var casesdropped = [[${casesdropped}]];	
	var casescourtorder = [[${casescourtorder}]];	
	
	var empDecided = [[${empDecided}]];	
	var empPenalty = [[${empPenalty}]];	
	var empPenaltyMajor = [[${empPenaltyMajor}]];	
	var empPenaltyMinor = [[${empPenaltyMinor}]];	
	var empAq = [[${empAq}]];	
	var empdeath = [[${empdeath}]];	
	var empdropped = [[${empdropped}]];	
	var empcourtorder = [[${empcourtorder}]];	
	
	Chart.defaults.global.defaultFontStyle = 'Bold';

	new Chart(document.getElementById("myChart"), {
	    type: 'bar',
	    data: {
	      labels: ["Decided", "Penalty given", "Major Penalty", "Minor Penalty", "Aquittal","Closed due to death","Closed (Charges have been withdrawn / dropped)","Closed (Order of court/tribunal)"],
	      	      
	      datasets: [{
	        label: "Total Cases",
	        backgroundColor: ["#3e95cd", "#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd"],
	        data: [casesDecided,casesPenalty,casesPenaltyMajor,casesPenaltyMinor
	        	,casesAq, casesdeath,casesdropped,casescourtorder]
	      },
	      {
		        label: "Total Employees",
		        backgroundColor: ["#FFA500", "#FFA500","#FFA500","#FFA500","#FFA500","#FFA500","#FFA500","#FFA500"],
		        data: [empDecided,empPenalty,empPenaltyMajor,empPenaltyMinor
		        	,empAq, empdeath,empdropped,empcourtorder]
		      }]
	    },
	    options: {
	    	scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        },
	    	title: {
	 	        display: true,
	 	        text: '',
	 	        
	 	      },
	 	      animations: {
	 	          tension: {
	 	            duration: 1000,
	 	            easing: 'linear',
	 	            from: 1,
	 	            to: 0,
	 	            loop: true
	 	          }
	 	        },
	    	responsive: true,	    	
	    	
            legend: {
                position: 'top',
                display: true,              
            },
            "hover": {
              "animationDuration": 0
            },
             "animation": {
                "duration": 1,
              "onComplete": function() {
                var chartInstance = this.chart,
                  ctx = chartInstance.ctx;
 
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';
 
                Chart.Legend.prototype.afterFit = function() {
                    this.height = this.height + 20;
                };
                
                this.data.datasets.forEach(function(dataset, i) {
                  var meta = chartInstance.controller.getDatasetMeta(i);
                  meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                  });
                });
              }
            }
	     
	    }
	       
	});

});




      </script> 

	<script th:inline="javascript">

	// added on 16/01/2023 as per DE Requirements
	function closeModalForce(id){		
	   	var modalid = "#"+id;
			$(modalid).hide();
			$('.modal-backdrop').remove();
		}
	function printDivforInsidePreview(downloadreportsforall) {	 
			    var printContents = document.getElementById(downloadreportsforall).innerHTML;
			       jQuery.noConflict();
			    var originalContents = document.body.innerHTML;
			    document.body.innerHTML = printContents;
			    window.print(); 
				    document.body.innerHTML = originalContents;
				    location.reload();		
				    var l=new Loading();
		}	
		var mess = [[${{message}}]];
		if (mess != null) {
			swal(mess);
		}
		
		
		var sortfield = [[${{sortField}}]];
		var sortdire = 	[[${{sortDir}}]];
		
		var casenolabel = '';
		var rulelabel = '';
		var misconductlabel='';
		
		
		
		$("#caseno").autocomplete({
            source : function(request, response) {
                $.ajax({
                    url : "/de/departmentalEnquiry/getCaseListjson",
                    dataType : "json",
                    data : {
                        q : request.term
                    },
                    success : function(data) {
                        //alert(data);
                        response(data);
                    }
                });
            },
             select: function (event, ui) {   //must be cleared with function parameter
//				var filter = ui.item.label;
	             casenolabel = ui.item.label;
             	
//				window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?caseno='+filter+'&viewreport=true';
		    
		
		    }
        });
		
		$("#rule").autocomplete({
            source : function(request, response) {
                $.ajax({
                    url : "/de/departmentalEnquiry/getRuleListjson",
                    dataType : "json",
                    data : {
                        q : request.term
                    },
                    success : function(data) {
                        //alert(data);
                        response(data);
                    }
                });
            },
             select: function (event, ui) {   //must be cleared with function parameter
//				var filter = ui.item.label;
             	
//				window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?rule='+filter+'&viewreport=true';
				rulelabel = ui.item.label;
		    
		
		    }
        });
		
		
		  /* Added on  12-10-2022  for misconduct auto complete   */
		  
		  $("#misconduct").autocomplete({
            source : function(request, response) {
                $.ajax({
                    url : "/de/departmentalEnquiry/getMisconductListjson",
                    dataType : "json",
                    data : {
                        q : request.term
                    },
                    success : function(data) {
                        //alert(data);
                        response(data);
                    }
                });
            },
             select: function (event, ui) {   //must be cleared with function parameter
//				var filter = ui.item.label;
             	
//				window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?rule='+filter+'&viewreport=true';
				misconductlabel = ui.item.label;
		    
		
		    }
        });
		
		//commented on 13-10-2022
		
		/* $('#filterbutton').click(function(){
			window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?rule='+rulelabel+'&viewreport=true'+
					'&caseno='+casenolabel+'&decision='+misconductlabel;
		}); */
		
		
		$('#filterbutton').click(function(){
         	console.log("this is for testing fn..");
         	casenolabel=$('#searchbtn').val();
         	var fromdate  = "";
         	var todate = "";
         	fromdate = $('#fromdate').val();
         	todate = $('#todate').val();
			window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?search='+casenolabel+'&viewreport=true&fromdate='+fromdate+'&todate='+todate+'&sort-field='+sortfield+'&sort-dir='+sortdire;
			
			
		/* 	window.location.href = '/de/departmentalEnquiry/reportsforAllFields/1?rule='+rulelabel+'&viewreport=true'+
					'&caseno='+casenolabel+'&decision='+misconductlabel; */
					
					
		});
		
		/* $('#downloadpdf').click(function(){ 
			var ff = new FormData();
			ff.append('html1', $('#downloadreport').html());
			$('#embedPDF').attr('data', '');
			//	ff.append('html2',$('#link-list').html()); 
			postdata('/de/departmentalEnquiry/downloadorder/', ff, function (data) {
				jQuery.noConflict();
				$('#embedPDF').attr('data', data);
				$('#myModalprint').modal();
			});
		}); */
		
		
		
		function printDiv(downloadreport) {
		    var printContents = document.getElementById(downloadreport).innerHTML;
		       jQuery.noConflict();
		    var originalContents = document.body.innerHTML;
		    document.body.innerHTML = printContents;

		    window.print(); 
			    document.body.innerHTML = originalContents;
			    location.reload();
			    var l=new Loading();
			  	   
		}
		
		
// 		function printDiv(downloadreport) {
// 			var mywindow = window.open('', 'PRINT','height=auto,width=auto');
// 			mywindow.document.write('<html><head><title>' + "Reports of Finally Decided Cases" + '</title>');
// 			mywindow.document.write('</head><body >');
// 			mywindow.document.write(document.getElementById(downloadreport).innerHTML);
// 			mywindow.document.write('</body></html>');
// 			mywindow.document.close();
// 			mywindow.focus();
// 			mywindow.print();
// 			mywindow.close();
// 			return true;
// 		}

		
		
		function downloadexcelfucn(){
			var table = $('#tableexcelGroupWisedept');
			if(table && table.length){
				var preserveColors = false;	jQuery.noConflict();
				$(table).table2excel({
					exclude: ".noExl",
					name: "report",
					filename: "Reports of Finally Decided Cases " + moment(new Date().toISOString().split('T')[0]).format('DD/MM/YYYY') + ".xls",
					fileext: ".xls",
					exclude_img: true,
					exclude_links: true,
					exclude_inputs: true,
					preserveColors: preserveColors
				});
			}
		}
		
		
	</script>

	<script th:inline="javascript">
	var modalid = null;
	
	
	function downloadlist(id) {
		modalid = '#myModal'+id;
		var ff = new FormData();
		var printdata = '#printdata'+id;
		var mymodal = '#myModal'+id;
		
		ff.append('html1', $(printdata).html());
		$('#embedPDF').attr('data', '');
		//	ff.append('html2',$('#link-list').html()); 
		postdata('/de/departmentalEnquiry/downloadorder/', ff, function (data) {
			jQuery.noConflict();
			$('#embedPDF').attr('data', data);
//			$(mymodal).click();
	//		$("#modal .close").click()
			$(mymodal).modal('toggle');
			$('#myModalprint').modal();
		});
	}
	
	function downloadlistCompact(id) {
		modalid = '#myModalCompact'+id;
		var ff = new FormData();
		var printdata = '#printdataCompact'+id;
		var mymodal = '#myModalCompact'+id;
		
		ff.append('html1', $(printdata).html());
		$('#embedPDF').attr('data', '');
		//	ff.append('html2',$('#link-list').html()); 
		postdata('/de/departmentalEnquiry/downloadorder/', ff, function (data) {
			jQuery.noConflict();
			$('#embedPDF').attr('data', data);
//			$(mymodal).click();
	//		$("#modal .close").click()
			$(mymodal).modal('toggle');
			$('#myModalprint').modal();
		});
	}
	
	$('.close').click(function(){
		$('#myModalprint').modal('hide');
		$(modalid).modal('hide');
		$('.modal-backdrop').remove();
	});
	
	
	
	
	
	</script>
	<script th:inline="javascript">
	function previewdetail(id) {
		modaliddetail = '#myModal'+id;
		modalidcompq = '#myModalCompact'+id;
		$(modaliddetail).modal();
		$(modalidcompq).modal('hide');
	}
	
/* 	$('#globalorg').select2({
//		 allowClear: true
	});
	 */
	$('#globalorg').change(function(){
		var globalorg = $('#globalorg').val();
		window.location.href = '/de/departmentalEnquiry/finaloutcomeReportsController/1?globalorg='+globalorg+'&sort-field=caseNo&sort-dir=asc';
	});
	
	var glob = /*[[${{globalorg}}]]*/;
	console.log(glob);
	if(glob != null) {
		$('#globalorg').val(glob);
//		$("#globalorg").val(glob).trigger('change');
	}


</script>
	<div th:replace="fragments/ehrms_footer.html :: footer"></div>
</body>

</html>