<div class="row" th:fragment="topperfragment">
    <div class="col-md-3">
        <div class="card text-blue" style="background-color: #2e6da4; font-size: larger; margin-right:80px;">
            <div class="card-header" style="height: 60px;"><img src="image\maharashtralogo.png"> &nbsp; Home</div>
        </div>
    </div>

 <div class="col-md-6">
        <div class="card text-blue" style="background-color: #ff9933; font-size: larger; margin-right:60px;">
            <div class="card-body text-center" style="height: 60px;">Departmental Enquiry Case Application Module</div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card bg-info text-white">
            <div class="card-body text-center" style="height: 60px; margin-left:30px;">Role : Department</div>
        </div>
    </div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js" -->
<!-- integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ==" -->
<!-- crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
<!-- <script src="js/popper.min.js"></script> -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" -->
<!-- integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript">
$(document).ready(function () {
    $('#sidebarid').load('DeptInquiryViews/sidebar.html');
});
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#headerid').load('DeptInquiryViews/headers.html');
});
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#toperid').load('DeptInquiryViews/topers.html');
});
</script> -->