<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<th:block th:include="fragments/ehrms_headerlib.html :: headerlib"></th:block>

<head>
	<title>No DE Certifcate Details</title>
	<style>
		.ui-menu .ui-menu-item-wrapper {
			color: #303030 !important;
			background-color: #fff !important;
			word-wrap: break-word !important;
		}

		.ui-menu .ui-menu-item-wrapper:hover {
			color: #303030 !important;
			background-color: rgb(192, 192, 192) !important;
			border: #fff 1px solid !important;
			word-wrap: break-word !important;
		}

		.ui-widget-content {
			border: 1px solid #ddd;
			background: rgb(192, 192, 192) !important;
			color: #333 !important;
			word-wrap: break-word !important;
		}
		.ui-menu-item-wrapper{
			word-wrap: break-word !important;
		}
		
	</style>

</head>

<body sec:authorize="isAuthenticated()"   th:with="isAdmin = ${#authorization.expression('hasAnyRole(''ROLE_SUPERADMIN'')')},currentUser = ${#authentication.getPrincipal().getUsername()}">
	<div class="container-scroller" sec:authorize="isAuthenticated()">
		<!--		<nav th:insert="Probation/sidebar3_2_8.html :: ehrms_sidebar3_2_8"  aria-label="sidebar fragment"></nav>-->
		<nav th:insert="commonsidebar/commonsidebar.html :: commonsidebar" aria-label="sidebar fragment"></nav>
		<div class="container-fluid page-body-wrapper">
			<div th:replace="fragments/ehrms_settingspanel.html :: setting_panel"></div>
			<nav th:insert="fragments/ehrms_navbar.html :: navbar" aria-label="navbar fragment"></nav>
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
					

					


					</div>
					<div>
						<h3>
							<strong><span th:text="#{de.commonsidebar.checknodecertificate}"></span>
							</strong>
						</h3>
					</div>

					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">

							<div class="card">
								<div class="card-body">

									<form  id="noticeregisteridmpscdsad"
										 method="post" enctype="multipart/form-data">
										
										
										<strong><span th:text="#{Type A}"></span> </strong>  <br><br>
										<div style="border: 1px solid black;padding: 10px;"> 
										
										<div class="row">
											
										

											<div class="col-md-12 mb-3 form-group">
												<label for="systemGenCaseNo"><span >Search by Sevarth Id</span></label><input  style="text-transform:uppercase" 
													type="text" class="form-control" id="sevarthid"  pattern="[a-zA-Z0-9]+"
													placeholder="Enter atleast 4 characters for search"
													
													>
											</div>
											
										</div>
										
										<div class="row">
											
										

											<div class="col-md-12 mb-3 form-group">
												<label for="systemGenCaseNo"><span >Search by First Name / Middle Name / Surname</span></label><input
													type="text" class="form-control" id="surnameid"  pattern="[a-zA-Z0-9]+"
													placeholder="Enter First Name or Middle Name or Last Name for Search"
													
													>
													
											</div>
											
										</div>
										
										</div>
										<div><br></div>
										
										
										<hr>
<!-- 										<label>Type B : (<label style="color: red;">If data not found from above two search than only use this.</label>) </label> --> 
										<strong class="text-wrap">Type B : &nbsp;&nbsp;(<span style="color: red;"> If information generated by exercising above 2 searches doesn't match with the records in the office and
record in the office shows that Officer is not under Suspension, No DE or Court Case is pending against the Officer, then use this option.</span>) </strong> <br><br>
										<div style="border: 1px solid black;padding: 10px;"> 
										
										<br>
										<div class="row">
											<div class="col-md-4 mb-3">
												<label for="systemGenCaseNo"><span >Enter Full Name</span></label><input
													type="text" class="form-control" id="fullname" required="required"
													>
													
											</div>
											<div class="col-md-4 mb-3">
												<label for="typeOfMisconduct"><span th:text="#{de.empdetails.groupOfEmployee}"></span></label> <select
													class="form-control"  id="servicegroup"
													required="required">
													<option value=""  th:text="#{dropdown.select}">Select</option>
													<option th:each="group:${serviceGroup}" th:value="${group.id}"
														th:text="${group.service_group_name}"></option>
												</select>
											</div>



											<div class="col-md-4 mb-3">
												<label for="typeOfMisconduct"><span th:text="#{de.empdetails.designation}"></span></label> <select
													class="form-control"  id="designation"
													required="required">
													<option value=""  th:text="#{dropdown.select}">Select</option>
													<option th:each="designation:${designation}"
														th:value="${designation.designation_id}"
														th:text="${designation.designation_name_en}"></option>
												</select>
											</div>
											
											<!-- <div class="col-md-4 mb-3">
												<label for="typeOfMisconduct">Department Name  </label> <select
													class="form-control" id="globalorg">
													<option value="">Select</option>

													<option th:each="global:${orglist}"
														th:value="${global.id}" th:text="${global.globalOrgName}">
													</option>
												</select>
											</div>
											
											<div class="col-md-4 mb-3">
												<label for="typeOfMisconduct">SubDepartment Name  </label> <select
													class="form-control" id="subDepartment">
													<option value="">Select</option>

													
												</select>
											</div> -->
											
											
											
										</div>
										<div class="text-center">
												<button style="margin-top: 30px;"type="button" class="btn btn-primary" id="generatecustom">Generate No DE Certificate</button>
													
											</div>
										</div>
										<hr>
										
										<br>
										<!-- <div class="btn-toolbar mr-1" role="toolbar" aria-label="Basic example">
											<button type="button" id="search" class="btn btn-primary"><span >Search</span></button>											
										</div> -->
									</form>
									
									

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<div class="modal fade" th:id="myModalCompact"
				role="dialog" >
				<div class="modal-dialog modal-xl">
					<div class="modal-content">

						<div class="modal-body">
							<div class="container">

<button type="button" class="close" data-dismiss="modal"
							th:id="myModal2">&times;</button>
							
						
						
							<br><br>
							<label>Search Results : </label>
										<div style="border: 1px solid black;padding: 10px;" id="nodetable">
										
									<div class="table-responsive" >
										<table class="table table-bordered">
											<thead>
												<tr>													
													<th class="text-wrap">Employee Name</th>
													<th  class="text-wrap" width="10%">Sevarth Id</th>
													<th  class="text-wrap">Case No./ File No.</th>
													<th class="text-wrap">Department</th>
													<th class="text-wrap">Sub Department</th>
													<th class="text-wrap">Case Status</th>
													<!-- <th class="text-wrap">Action</th>	 -->												
												</tr>
											</thead>
											<tbody id="nodetabbody">
												
											</tbody>
										</table>
										
										
									
									</div>
									<br>
									<div class="text-center">
									<a class="btn btn-primary" target="_blank" 
									id="generatebutton"
									href="">Generate Certificate</a>
									</div>
										
										</div>
						

							</div>

						</div>
					</div>
				</div>

			</div>
	
	<div th:replace="fragments/ehrms_footerlib.html :: footerlib"></div>
	<script th:inline="javascript">
	
	$('#generatecustom').click(function(){
		var fullname=$('#fullname').val();
		var designationid = $('#designation').val();
		var orgid = $('#globalorg').val();
		var subid = $('#subDepartment').val();
		
		var validation = true;
		if(fullname != null && fullname.length>0) {
			
		} else {
			validation = false;
		}
		
		if(designationid != null && designationid.length>0) {
			
		} else {
			validation = false;
		}
		
		if(validation) {
			swal({
				title: "Do you want to generate custom vigilance certificate?",
				text: "",
				
				buttons: true,
				dangerMode: true,
				buttons: ["No", "Yes"]
			}).then(function(isConfirm) {
				if (isConfirm) {
					url = '/de/departmentalEnquiry/generatenode?vigstatus=nodatafound&employeeName='+fullname+'&desigId='+designationid+'&orgid='+orgid+'&subdid='+subid;
					var loading = new Loading();
					window.location.href= url;
				}
			});
		} else {
			swal("Name and Designation are required fields").then(function(){
//				location.reload();
			})
		}
		
		
	});
	
	
	var selections = $("#servicegroup :selected").val();
	$('#designation').empty();
	if(selections != null && selections != '') {
		var urlx = "/de/departmentalEnquiry/selectdesignationdata/"+selections;
		
		getdata(urlx,function(data) {
			 $('#designation').append('<option value="">Select</option>');
			 $.each(data, function(i, d) {
				
					 $('#designation').append('<option value="' + d.id + '">' + d.name + '</option>');
				
	            
	         });		
		});
	} else {
		 $('#designation').append('<option value="">Select</option>');
	}
	
	$('#servicegroup').change(function(){
		var selections = $("#servicegroup :selected").val();
		$('#designation').empty();
		if(selections != null && selections != '') {
			var urlx = "/de/departmentalEnquiry/selectdesignationdata/"+selections;
		
			getdata(urlx,function(data) {
				 $('#designation').append('<option value="">Select</option>');
				 $.each(data, function(i, d) {
					 
						 $('#designation').append('<option value="' + d.id + '">' + d.name + '</option>');
					 
		         });		
			});
		} else {
			 $('#designation').append('<option value="">Select</option>');
		}
	});
	$('#designation').select2({
		
	});
	
	$('#globalorg').select2({
		
	});
	
	
	$('#designation').select2().change(function() {
	    $(this).valid();
	  });
	
		$('#generatebutton').hide();
		/* $('#search').click(function(){
			
		}); */
		$('#nodetable').hide();
		$("#sevarthid").autocomplete({
			minLength: 4,
        source : function(request, response) {
        	  var loading = new Loading();
            $.ajax({
                url : "/de/departmentalEnquiry/getSevarthlist",
                dataType : "json",
                data : {
                    q : request.term
                },
                success : function(data) {
                	loadingOut(loading);
                    //alert(data);
                    response(data);
                }
            });
        },
         select: function (event, ui) {   //must be cleared with function parameter
			getdata('/de/departmentalEnquiry/getdeinformation?caseid='+ui.item.label, function(data) {
				$('#nodetabbody').empty();
				if(data != null && data.length>0) {
					var url = '';
					if(data[0].vigilancestatus=='nodatafound') {
						url = '/de/departmentalEnquiry/generatenode?sevarthid='+data[0].sevarthid+'&vigstatus='+data[0].vigilancestatus+'&employeeName='+data[0].employeeName+'&desigName='+data[0].designationName;
					} else {
						url = '/de/departmentalEnquiry/generatenode?sevarthid='+data[0].sevarthid+'&vigstatus='+data[0].vigilancestatus;

					}
					$('#generatebutton').attr('href',url);
					$('#generatebutton').show();
					$('#nodetable').show();
					var trHTML = '';
					var i = 1
					$.each(data, function(
							key, value) {
						trHTML += '<tr><td class="text-wrap">'
						+ value.employeeName
						+ '</td><td class="text-wrap">'
						+ value.sevarthid
						+ '</td><td class="text-wrap">'
						+ value.caseno
						+ '</td><td class="text-wrap">'
						+ value.department
						+ '</td><td class="text-wrap">'
						+ value.subdepartment
						+ '</td><td class="text-wrap">'
						+ value.finaldecision
						+ '</td></tr>';
					});
					
					$('#nodetabbody').append(trHTML);
					jQuery.noConflict();
					$('#myModalCompact').modal();
					
				} else {
					swal("No data found for selected sevarth id");
					$('#nodetable').hide();
				}
			});
	    
	
	    }
    }); 
		
		$("#surnameid").autocomplete({
//			minLength: 4,
	        source : function(request, response) {
	        	  var loading = new Loading();
	            $.ajax({
	                url : "/de/departmentalEnquiry/getSurnamelist",
	                dataType : "json",
	                data : {
	                    q : request.term
	                },
	                success : function(data) {
	                	loadingOut(loading);
	                    //alert(data);
	                    response(data);
	                }
	            });
	        },
	         select: function (event, ui) {   //must be cleared with function parameter
	        	 var formdata = new FormData();
	         	formdata.append('caseid',ui.item.label);
				postdata('/de/departmentalEnquiry/getdeinformationbysurname',formdata, function(data) {
					$('#nodetabbody').empty();
					if(data != null && data.length>0) {
						var url = '';
						if(data[0].vigilancestatus=='nodatafound') {
							url = '/de/departmentalEnquiry/generatenodebysurname?sevarthid='+data[0].sevarthid+'&vigstatus='+data[0].vigilancestatus+'&employeeName='+data[0].employeeName+'&desigName='+data[0].designationName+'&orgid='+data[0].orgid+'&birthdate='+data[0].birthdate;
						} else {
							url = '/de/departmentalEnquiry/generatenodebysurname?sevarthid='+data[0].sevarthid+'&vigstatus='+data[0].vigilancestatus+'&orgid='+data[0].orgid+'&employeeName='+data[0].employeeName+'&birthdate='+data[0].birthdate;

						}
						$('#generatebutton').attr('href',url);
						$('#generatebutton').show();
						$('#nodetable').show();
						var trHTML = '';
						var i = 1
						$.each(data, function(
								key, value) {
							trHTML += '<tr><td class="text-wrap">'
							+ value.employeeName
							+ '</td><td class="text-wrap">'
							+ value.sevarthid
							+ '</td><td class="text-wrap">'
							+ value.caseno
							+ '</td><td class="text-wrap">'
							+ value.department
							+ '</td><td class="text-wrap">'
							+ value.subdepartment
							+ '</td><td class="text-wrap">'
							+ value.finaldecision
							+ '</td></tr>';
						});
						
						$('#nodetabbody').append(trHTML);
						jQuery.noConflict();
						$('#myModalCompact').modal();
						
					} else {
						swal("No data found for selected sevarth id");
						$('#nodetable').hide();
					}
				});
		    
		
		    }
	    }); 	
		
		$('#globalorg').change(function(){
			var urlx = "/de/departmentalEnquiry/getSubDepartmentListJson";
			var globid = $('#globalorg').val();
			urlx = urlx+"/"+globid;
			getdata(urlx,function(data) {				
				 $.each(data, function(i, d) {					
					$('#subDepartment').append('<option value="' + d.id + '">' + d.subDepartment + '</option>');
		         });		
			});
		});
		
		
		
	</script>
	
</body>

</html>