<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<div th:fragment="ProsecutionProposalDetailsPreviewListRecords">
							<div class="modal fade" id="myModal2" role="dialog" >
							<div class="modal-dialog modal-xl">				
			        	<div class="modal-content">
			        		<div class="modal-body">
						<div class="container">
						 <button type="button" class="close" data-dismiss="modal"
							th:id="myModal2" onclick="closeModalForce()">&times;</button>
							<br><br>
						<button type="button" class="btn btn-primary"  id="myModal29"   onclick="printDivforInsidePreview('printdata')" 
							style="float: right;">	
							<span th:text="#{view.pdf.label}">View PDF</span>
						</button>
					
						
						<br>
	<div class="table-responsive" id="printdata">
	<h3 style="margin-top: 4px;">
							<strong><span th:text="#{de.prosecution.label.preview}"></span></strong>
						</h3>
		<table class="table table-bordered table-sm" style="border: 1px solid black !important;  border-collapse: collapse !important;">
			<caption></caption>
			<thead>
				<tr>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" width="20%"></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row"></th>
				</tr>
			</thead>
			<tbody>
			
			
				<tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					<label for="Designation"><center><span th:text="#{de.enquiry.caseno}"></span></center></label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					<span th:text="${ProsecutionProposalObj.caseNo}"></span></td>
				</tr>
				
				
			                                 <tr>
				                               <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
				                           	<label for="prosecutionProposalReceived"><span th:text="#{de.prosecutionProposalDetails.ProsecutionisReceived}"></span></label></td>
				                           	
				                           	<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
														<span     th:if="${ProsecutionProposalObj.prosecutionProposalReceived}" th:text="#{de.boolean.yes}" ></span>
														<span th:unless="${ProsecutionProposalObj.prosecutionProposalReceived}" th:text="#{de.boolean.no}"></span>
													</td>
				                                    </tr>
				                                    
				                                    
				                                    	<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="status"><center><span th:text="#{de.sevarth.id}"></span> </center></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.sevarthId}"></span></td>
											</td>		
											</tr>
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="firstName"><center><span th:text="#{de.firstName.labels}"></span></center></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.firstName}"></span></td>
											</td>		
											</tr>
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="middleName"><center><span th:text="#{de.middleName.label}"></span></center></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.middleName}"></span></td>
											</td>		
											</tr>
											
											
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="LastName"><center><span th:text="#{de.lastName.labels}"></span></center></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.lastName}"></span></td>
											</td>		
											</tr>
				
				
				
				                        <tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span th:text=" #{de.prosecutionProposal.dateofreceipt}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${#temporals.format(ProsecutionProposalObj.dateOfReceipt, 'dd-MM-yyyy')}"></span></td>
											</td>		
											</tr>
											
												<tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="statusForGrantedDeniedPending"><span th:text=" #{de.prosecutionProposal.proposalstatuss}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.statusForGrantedDeniedPending}"></span></td>
											</tr>
											
											
											
											 <tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span th:text=" #{de.prosecutionProposal.dateofOrderofSanction}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${#temporals.format(ProsecutionProposalObj.dateOfOrderReceipt, 'dd-MM-yyyy')}"></span></td>
											</td>		
											</tr>
											
											
											<tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="dateOfCommunication"><span th:text=" #{de.prosecutionProposal.dateofcommunication}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${#temporals.format(ProsecutionProposalObj.dateOfCommunication, 'dd-MM-yyyy')}"></span></td>
											</td>		
											</tr>
											
											
											 	<tr>
				                               <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
				                           	<label for="whetherCaseFiledIntheCourt"><span th:text=" #{de.prosecutionProposal.casefiledincourt}"></span>
				                           	</label></td>
				                           	
				                           	<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
														<span th:if="${ProsecutionProposalObj.whetherCaseFiledIntheCourt}" th:text="#{de.boolean.yes}"></span>
														<span th:unless="${ProsecutionProposalObj.whetherCaseFiledIntheCourt}" th:text="#{de.boolean.no}"></span>
													</td>
				                                    </tr>
				                                    
				                                    
				                                    
				
				                 
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="status"><span th:text=" #{de.prosecutionProposal.courtcasestatus}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.status}"></span></td>
											</tr>
											
											<tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="dateOfCommunication"><span th:text=" #{de.prosecutionProposal.courtName}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.courtName}"></span></td>
											</tr>
											
											<tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="dateOfCommunication"><span th:text=" #{de.prosecutionProposal.courtcasenumber}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.courtCaseNo}"></span></td>
											</tr>
											
											
											
											
											<tr>
				                          <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="dateOfCommunication"><span th:text="#{de.prosecutionProposal.dateoforderofthecourt}">
													</span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:if="${ProsecutionProposalObj.dateOfOrderoftheCourt ne null}" th:text="${#temporals.format(ProsecutionProposalObj.dateOfOrderoftheCourt, 'dd-MM-yyyy')}"></span></td>
											</tr>
											
												<tr>
				                                <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="status"><span th:text=" #{de.prosecutionProposal.remark}"></span></label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${ProsecutionProposalObj.remark}"></span></td>
											</td>		
											</tr>
											
											
										
											
										
											
											<!-- <tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Employee id.</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${reinstatedObjDetails.employeeId}"></span></td>
											</td>		
											</tr>
											 -->
											 
											<!--  <tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Appellation"><span>Appellation</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${inquiryofficerdetailsObj.appellation}"></span></td>
											</td>		
											</tr> -->
											 
											 
											 
										<!-- 	<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>First Name</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${presentingofficerdetailsObj.firstName}"></span></td>
											</td>		
											</tr>
											
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Middle Name</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${presentingofficerdetailsObj.middleName}"></span></td>
											</td>		
											</tr>
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Last Name</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${presentingofficerdetailsObj.lastName}"></span></td>
											</td>		
											</tr> -->
											
											
											
										<!-- 	<tr>
											<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Department Name</span>:</label></td>
										  <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
											<span  th:text="${presentingofficerdetailsObj.globalorg.globalOrgName}"></span>
											</td>		
											</tr> -->
											
											<!-- <tr>
											<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Sub-Department Name</span>:</label></td>
					                         
										  <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
											<span  th:text="${presentingofficerdetailsObj.subDepartment.subdepartmentNameEn}"></span>
											</td>		
											</tr>
											
											<tr>
											<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Designation</span>:</label></td>
										  <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
											<span  th:text="${presentingofficerdetailsObj.designation.designation_name_en}"></span>
											</td>		
											</tr>
											 -->
											
											
										<!-- 	<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Mobile Number</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${inquiryofficerdetailsObj.mobileNumber}"></span></td>
											</td>		
											</tr>
											
											<tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Email</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${inquiryofficerdetailsObj.email}"></span></td>
											</td>		
											</tr> -->
											
											
											<!-- <tr>
				                     <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         <label for="Designation"><span>Re-Instated Order Date</span>:</label></td>
					                         <td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					                         	<span th:text="${#temporals.format(reinstatedObjDetails.reInstatedOrderDate, 'dd-MM-yyyy')}"></span></td>
											</td>		
											</tr> -->
											
											
											
											
											
				
				<!-- <tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="File Id"><span th:text="#{ListEmployee.fileid}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:if="${fileprobations.id ne null}" th:text="${fileprobations.id}"></span></td>
				</tr> -->
				
				
				<!-- <tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="File Id"><span th:text="#{ListEmployee.filecreatedate}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:if="${fileprobations.id ne null}" th:text="${{#temporals.format(fileprobations.createdDate,'dd-MM-yyyy')}}"></span></td>
				</tr>
				 -->
				
				
				<!-- <tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="subject"><span th:text="#{Form.Subject}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:text="${fileprobations.subject}"></span></td>
				</tr> -->

			</tbody>
		</table>
	</div>
	<br>
<!-- 	<div class="table-responsive">
	<label>List of Employee:</label>
		<table id="link-list" class="table table-bordered table-sm" style="border: 1px solid black !important;  border-collapse: collapse !important;">
			<caption></caption>
			<thead>
				<tr>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap" width="5%" th:if="${!(fileprobations.id ne null)}"
						th:text="#{ListEmployee.Selection}"></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.index}">Index</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.Employee Name}">Employee
							Name</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.sevarthid}">Employee
							Id</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.dateofjoing}">Employee
							Date of Joining</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ApplicationForm.probationCompletion}">Employee
							Probation Completion</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{EmployeeDetail.Totalleaves}"></span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap" th:text="#{listUnderprobation.expecteddate}"></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap" th:text="#{listUnderprobation.tobecompleteddate}"></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.Employeestatus}">Employee
							status</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" class="text-wrap"><span th:text="#{ListEmployee.remarks}">Employee
							Remarks</span></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row"><span th:text="#{inbox.status}">Status</span></th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="article,iState : ${fileprobations.probationsList}" th:if="${showlist ne null && showlist}">
					
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:text="${{iState.index+1}}" class="text-wrap"></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:text="${{article.employee.name}}" class="text-wrap"></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:text="${{article.employee.sevaarthId}}" class="text-wrap">
					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:text="${{#temporals.format(article.employee.dateofjoining,'dd-MM-yyyy')}}">
					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" 
						th:text="${{#temporals.format(article.probationCompletionDate,'dd-MM-yyyy')}}"></td>

					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" class="text-wrap" th:text="${article.leavedays}"></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" 
						th:text="${{#temporals.format(article.probationCompletionExpectedDate,'dd-MM-yyyy')}}"></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" class="text-wrap">
						
						<span
							th:text="${{#temporals.format(fileprobations.probationsList[__${iState.index}__].tobecompletedDate,'dd-MM-yyyy')}}"></span>
					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" class="text-wrap">
						
					
						<span
							th:text="${fileprobations.probationsList[__${iState.index}__].employeestatus.regionalText}"></span>

					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" class="text-wrap"><span
							th:text="${{fileprobations.probationsList[__${iState.index}__].probationRemark}}"></span></td>

					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:if="${article.allcheckedclear}">
						<span th:text="#{CandidateDetails.Verified}"></span>
					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;" th:unless="${article.allcheckedclear}">
						<span th:text="#{CandidateDetails.inprocess}"></span>
					</td>

				</tr>

			</tbody>
		</table>
	</div> -->
	<br />





</div>



<!-- --------------------------------------------------------------------------------------------------------- -->
<!-- 	<footer class="footer" th:fragment="footer">
	  <div class="d-sm-flex justify-content-center justify-content-sm-between">
	    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2021 <a href="#" target="_blank">E-HRMS</a></span>
	    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
	  </div>
	</footer> -->
	<!-- <div class="row text-wrap" style="background-color:gray;"  th:fragment="ReinstatedListPreviewRecords" >
	
	<div class="modal fade" id="myModal2" role="dialog" >
			<div class="modal-dialog modal-xl">				
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="container">
							<div class="row text-center justify-content-center">
								<table class="table table-bordered table-sm">
									<caption> </caption>
									<thead>
										<tr>
										<h3>	Reinstated  Preview	 Records</h3>
																				
										</tr>
									</thead>
									<tbody>
									<br>
										<tr>
										<th scope="row" width="7%">Case No.</th>
											<td   th:utext="${reinstatedObjDetails.caseNo}">
											</td>		
											</tr>
										
											<tr>
										  <th scope="row"  width="7%">File No. without DE</th>
											<td  th:text="${reinstatedObjDetails.fileNo}">
											</td>		
											</tr>
											
											
											 <tr>
										  <th scope="row"  width="7%">Sevarth Id.</th>
											<td  th:text="${reinstatedObjDetails.sevarthId}">
											</td>		
											</tr>
											
											<tr>
										  <th scope="row"  width="7%">Employee Id.</th>
											<td  th:text="${reinstatedObjDetails.employeeId}">
											</td>		
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">First Name</th>
											<td  th:text="${reinstatedObjDetails.firstName}">
											</td>		
											</tr>
											
											<tr>
										  <th scope="row"  width="7%">Middle Name</th>
											<td  th:text="${reinstatedObjDetails.middleName}">
											</td>		
											</tr>
											
											<tr>
										  <th scope="row"  width="7%">Last Name</th>
											<td  th:text="${reinstatedObjDetails.lastName}">
											</td>		
											</tr>
											
										
											
											<tr>
										  <th scope="row"  width="7%">Suspension Under Rule</th>
											<td  th:text="${suspensionObj.susUnderRule.susRuleName}">
											</td>		
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Date of Order Actual Suspension</th>
											<td  th:text="${suspensionObj.lastName}">
											</td>		
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Re-Instated Order Date</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(reinstatedObjDetails.reInstatedOrderDate, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											
											
											<tr>
										  <th scope="row"  width="7%"> Date of Actual Suspension</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(suspensionObj.dateofActualSuspension, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Date of Actual Suspension</th>
											<td  th:text="${suspensionObj.lastName}">
											</td>		
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Date of Order Deemed Suspension</th>
											<td  th:text="${suspensionObj.lastName}">
											</td>		
											</tr>
											
											<tr>
										  <th scope="row"  width="7%"> Date of Order Deemed Suspension</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(suspensionObj.dateOfOrder1, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Deemed Date of Suspension</th>
											<td  th:text="${suspensionObj.dateofDeemedSuspension}">
											</td>		
											</tr>
											
											<tr>
										  <th scope="row"  width="7%"> Deemed Date of Suspension</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(suspensionObj.dateofDeemedSuspension, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Whether Suspension is Extended after 3 Month?</th>
											<td  th:text="${suspensionObj.whetherSuspensionIsExtnd3Months}">
											</td>		
											</tr>
											
											
											<td class="text-wrap">
														<span th:if="${article.inquiryOfficerAppointed}"   th:text="#{de.boolean.yes}"></span>
														<span th:unless="${article.inquiryOfficerAppointed}" th:text="#{de.boolean.no}"></span>
													</td>
											
											
											<tr>
										  <th scope="row"  width="7%">Period of Extension (Months)</th>
											<td  th:text="${suspensionObj.periodofExtension}">
											</td>		
											</tr>
											
											
											<tr>
										  <th scope="row"  width="7%">Period of Extension (Days)</th>
											<td  th:text="${suspensionObj.periodofExtensionInDays}">
											</td>		
											</tr>
											
											
											
											<tr>
										  <th scope="row"  width="7%"> Date of Extension Order</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(suspensionObj.dateofExtensionOrder, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											
											
											
											
											
											
											
											<tr>
										  <th scope="row"  width="7%"> Chargesheet Date</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(suspensionObj.chargesheetDate, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											<tr>
										  <th scope="row"  width="7%">Gender</th>
											<td  th:text="${employeeDetails.gender.genderName}">
											</td>		
											</tr>
											
											
											
											<tr>
										  <th scope="row"  width="7%">Date of Birth</th>
											<td class="text-wrap">
														<span th:text="${#temporals.format(employeeDetails.localdate, 'dd-MM-yyyy')}"></span>
													</td>
											</tr>
											
											 
											 
			<div class="table-responsive">
		<table class="table table-bordered table-sm" style="border: 1px solid black !important;  border-collapse: collapse !important;">
			<caption></caption>
			<thead>
				<tr>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row" width="10%"></th>
					<th style="border: 1px solid black !important;  border-collapse: collapse !important;" scope="row"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					<label for="Designation">
					<span th:text="#{Form.Designation}"></span>:
					</label>
					</td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;">
					<span th:text="${fileprobations.designation.designation_name_en}"></span></td>
				</tr>
				
				
				
				<tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="File Id"><span th:text="#{ListEmployee.fileid}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:if="${fileprobations.id ne null}" th:text="${fileprobations.id}"></span></td>
				</tr>
				
				
				
				<tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="File Id"><span th:text="#{ListEmployee.filecreatedate}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:if="${fileprobations.id ne null}" th:text="${{#temporals.format(fileprobations.createdDate,'dd-MM-yyyy')}}"></span></td>
				</tr>
				
				
				<tr>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><label for="subject"><span th:text="#{Form.Subject}"></span>:</label></td>
					<td style="border: 1px solid black !important;  border-collapse: collapse !important;"><span th:text="${fileprobations.subject}"></span></td>
				</tr>
				
				

			
	</div>
											 
											 
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		</div>
		</div>
		</div>
		</div>
		
	</div>
	
	
	

</html>